@function vw-calc1920($px) {
  $vwSize: $px / (1920 / 100);
  @return #{$vwSize}vw;
}

@function vw-calc1440($px) {
  $vwSize: $px / (1440 / 100);
  @return #{$vwSize}vw;
}

@function vw-calc1280($px, $ratio: 0.6, $viewport: 1280) {
  $vwSize: $px * $ratio / ($viewport / 100);
  @return #{$vwSize}vw;
}

@function vw-calc1024($px) {
  $vwSize: $px / (1024 / 100);
  @return #{$vwSize}vw;
}

@function vw-calc768($px) {
  $vwSize: $px / (768 / 100);
  @return #{$vwSize}vw;
}

@function vw-calc600($px) {
  $vwSize: $px / (600 / 100);
  @return #{$vwSize}vw;
}

