@charset "utf-8";
@import "_mixin", "_var", "_function";

@font-face {
  font-family: PnM;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/DXPnM-KSCpc-EUC-H.eot");
  src: url("../fonts/DXPnM-KSCpc-EUC-H.eot#iefix") format("embedded-opentype"),
    url("../fonts/DXPnM-KSCpc-EUC-H.woff2") format("woff2"),
    url("../fonts/DXPnM-KSCpc-EUC-H.woff") format("woff"),
    url("../fonts/DXPnM-KSCpc-EUC-H.ttf") format("truetype");
}

@font-face {
  font-family: LuxM;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/THELuxMj2B.eot");
  src: url("../fonts/THELuxMj2B.eot#iefix") format("embedded-opentype"),
    url("../fonts/THELuxMj2B.woff2") format("woff2"),
    url("../fonts/THELuxMj2B.woff") format("woff"),
    url("../fonts/THELuxMj2B.ttf") format("truetype");
}

@font-face {
  font-family: D2Code;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/D2Coding.eot");
  src: url("../fonts/D2Coding.eot#iefix") format("embedded-opentype"),
    url("../fonts/D2Coding.woff2") format("woff2"),
    url("../fonts/D2Coding.woff") format("woff"),
    url("../fonts/D2Coding.ttf") format("truetype");
}

/* tag reset */
body,
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  font-size: 100%;
}

ul {
  list-style: none;
}

img {
  border: none;
  vertical-align: top;
}

button,
input {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

header,
section,
article,
footer {
  display: block;
}

.blind-b {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.p_r {
  position: relative;
}

.p_a {
  position: absolute;
}

.f_l {
  float: left;
}

.f_r {
  float: right;
}

.max1400 {
  max-width: 1400px;
  margin: 0 auto;
}

.bg-bpink {
  background: $b-pink;
}

.bg-pink {
  background: $pink
}

.bg-lpink {
  background: $l-pink;
}

body {
  font-family: PnM;
  font-size: 16px;
  font-weight: 400;
  color: $b-brown;
}

.summary-info {
  position: relative;
  width: 100%;
  height: 808px;
  color: #fff;

  .txt-area {
    float: left;

    h2 {
      display: inline-block;
      font-size: 60px;
      margin-bottom: 60px;

      span {
        font-size: 110px;
      }
    }

    li {
      margin-bottom: 32px;

      >* {
        float: left;
      }

      .sum-title {
        position: relative;
        display: inline-block;
        width: 208px;
        vertical-align: top;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        margin-right: 32px;

        &::after {
          @include t-form(translateY(-50%));
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 2px;
          height: 22px;
          background: rgba(255, 255, 255, .4);
        }
      }

      .sum-info {
        font-size: 24px;
        line-height: 30px;
      }
    }

    a {
      @include bg-size(cover);
      display: block;
      position: absolute;
      bottom: -1px;
      left: 15%;
      width: 328px;
      height: 101px;
      font-size: 20px;
      font-weight: 700;
      line-height: 130px;
      text-indent: 20px;
      text-align: center;
      background: url("../images/project/island-mini.svg") no-repeat center;
      transform-origin: left bottom;

      &:hover,
      &:focus {
        @include t-form(scale(1.2));
        @include t-sition(all .3s);
      }
    }
  }

  .pic-area {
    @include bg-size(cover);
    float: right;
    width: 808px;
    height: 808px;
    background: no-repeat center;
  }
}

.core-info {
  margin-top: 160px;

  >p {
    margin-bottom: 110px;
    font-size: 40px;
    line-height: 68px;
    text-align: center;
  }

  .device-pc {
    @include bg-size(contain);
    width: 1024px;
    height: 820px;
    margin: 0 auto;
    background: no-repeat center;
  }

  h2 {
    margin: 200px 0 80px;
    font-size: 60px;
    text-align: center;
  }

  ul {
    li {
      float: left;
    }

    strong {
      display: block;
      font-size: 48px;
      font-weight: 300;
      text-align: center;
    }

    .core-pic,
    .site-pic,
    .site-pic::before,
    .site-pic::after {
      @include bg-size(cover);
      @include b-radius(10px);
      background: no-repeat left top;
    }
  }

  .point {
    li {
      width: 684px;

      +li {
        margin-left: 32px;
      }
    }

    .core-pic {
      width: 684px;
      height: 464px;
    }

    strong {
      margin: 30px 0;
    }

    .core-txt {
      width: 688px;
      height: 400px;
      font-size: 30px;
      line-height: 68px;
      word-break: keep-all;
      text-align: center;
    }
  }

  .report {
    li {
      width: 100%;
      margin-bottom: 180px;

      >div {
        @include borderbox;
        float: left;
        width: 448px;
        height: 652px;
        cursor: pointer;
      }

      &:nth-child(odd)>* {
        +div {
          margin-left: 28px;
        }
      }

      &:nth-child(even)>* {
        &.site-a11y {
          float: right;
        }
        &:nth-child(2) {
          float: right;
        }

        +div {
          margin-right: 28px;
        }
      }
    }

    .site-a11y {
      font-size: 24px;
      line-height: 54px;
      text-align: center;
      word-break: break-all;

      p:nth-of-type(1) {
        position: relative;
        margin: 24px 0 120px;
        font-size: 20px;

        &::after {
          @include t-form(translateX(-50%));
          content: "";
          position: absolute;
          bottom: -30px;
          left: 50%;
          width: 208px;
          height: 4px;
        }
      }

      p:nth-of-type(2) {
        font-size: 24px;
        word-break: keep-all;
        text-align: center;
      }
    }

    .site-pic {
      @include bg-size(cover);
      position: relative;
      border: 1px solid;

      &::before {
        @include t-sition (all .8s);
        content: "";
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(137, 55, 53, 0.8);
      }

      &::after {
        @include t-sition (all .8s);
        content: "";
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      &.view::before,
      &.view::after {
        opacity: 1;
      }
    }

    .site-code {
      @include t-sition (all 0.6s ease .1s);

      &.view {
        width: 924px;
        z-index: 1000;
      }

      * {
        @include borderbox;
      }

      .gist {
        width: 100%;
      }

      .gist-data {
        height: calc(652px - 36px);
        padding-top: 30px;
        background-color: #f1f1f1;
      }

      .gist .blob-code-inner {
        font-family: D2Code;
        font-size: 18px;
        line-height: 1.2;
      }

      .gist .blob-code,
      .gist .blob-num {
        background-color: #f1f1f1;
      }
    }
  }
}