@font-face {
  font-family: PnM;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/DXPnM-KSCpc-EUC-H.eot");
  src: url("../fonts/DXPnM-KSCpc-EUC-H.eot#iefix") format("embedded-opentype"), url("../fonts/DXPnM-KSCpc-EUC-H.woff2") format("woff2"), url("../fonts/DXPnM-KSCpc-EUC-H.woff") format("woff"), url("../fonts/DXPnM-KSCpc-EUC-H.ttf") format("truetype"); }
@font-face {
  font-family: LuxM;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/THELuxMj2B.eot");
  src: url("../fonts/THELuxMj2B.eot#iefix") format("embedded-opentype"), url("../fonts/THELuxMj2B.woff2") format("woff2"), url("../fonts/THELuxMj2B.woff") format("woff"), url("../fonts/THELuxMj2B.ttf") format("truetype"); }
/* tag reset */
body,
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0; }

h1,
h2,
h3 {
  font-size: 100%; }

ul {
  list-style: none; }

img {
  border: none;
  vertical-align: top; }

button,
input {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit; }

button {
  cursor: pointer; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit; }

header,
section,
article,
footer {
  display: block; }

.blind-b {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.max1400 {
  max-width: 1400px;
  margin: 0 auto; }

.bg-bpink {
  background: #d9abb3; }

.bg-pink {
  background: #e6c9c6; }

.bg-lpink {
  background: #e5dedd; }

body {
  font-family: PnM;
  font-size: 16px;
  font-weight: 400;
  color: #3e2a26; }

.summary-info {
  width: 100%;
  height: 808px;
  color: #fff; }
  .summary-info .txt-area h2 {
    display: inline-block;
    font-size: 60px; }
    .summary-info .txt-area h2 span {
      font-size: 110px; }
  .summary-info .txt-area ul {
    max-width: 700px; }
    .summary-info .txt-area ul li {
      margin-bottom: 32px;
      font-size: 24px; }
      .summary-info .txt-area ul li > * {
        display: inline-block;
        width: 208px; }
      .summary-info .txt-area ul li .sum-title {
        height: 30px;
        font-size: 30px;
        text-align: center;
        margin-right: 32px; }
      .summary-info .txt-area ul li .sum-info {
        display: inline-block;
        font-size: 24px;
        line-height: 1.25; }
  .summary-info .txt-area a {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    display: block;
    width: 328px;
    height: 101px;
    background: url("../images/project/island-mini.svg") no-repeat center; }
  .summary-info .pic-area {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    float: right;
    width: 808px;
    height: 808px;
    background: no-repeat center; }

/*# sourceMappingURL=common.css.map */
