@font-face {
  font-family: PnM;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/DXPnM-KSCpc-EUC-H.eot");
  src: url("../fonts/DXPnM-KSCpc-EUC-H.eot#iefix") format("embedded-opentype"), url("../fonts/DXPnM-KSCpc-EUC-H.woff2") format("woff2"), url("../fonts/DXPnM-KSCpc-EUC-H.woff") format("woff"), url("../fonts/DXPnM-KSCpc-EUC-H.ttf") format("truetype"); }
@font-face {
  font-family: LuxM;
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/THELuxMj2B.eot");
  src: url("../fonts/THELuxMj2B.eot#iefix") format("embedded-opentype"), url("../fonts/THELuxMj2B.woff2") format("woff2"), url("../fonts/THELuxMj2B.woff") format("woff"), url("../fonts/THELuxMj2B.ttf") format("truetype"); }
/* tag reset */
body,
h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0; }

h1,
h2,
h3 {
  font-size: 100%; }

ul {
  list-style: none; }

img {
  border: none;
  vertical-align: top; }

button,
input {
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: inherit; }

button {
  cursor: pointer; }

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit; }

header,
section,
article,
footer {
  display: block; }

.blind-b {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
  border: none;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%); }

.clearfix::after {
  content: "";
  clear: both;
  display: block; }

.p_r {
  position: relative; }

.p_a {
  position: absolute; }

.f_l {
  float: left; }

.f_r {
  float: right; }

.max1400 {
  max-width: 1400px;
  margin: 0 auto; }

.bg-bpink {
  background: #d9abb3; }

.bg-pink {
  background: #e6c9c6; }

.bg-lpink {
  background: #e5dedd; }

body {
  font-family: PnM;
  font-size: 16px;
  font-weight: 400;
  color: #3e2a26; }

.summary-info {
  position: relative;
  width: 100%;
  height: 808px;
  color: #fff; }
  .summary-info .txt-area {
    float: left; }
    .summary-info .txt-area h2 {
      display: inline-block;
      font-size: 60px;
      margin-bottom: 60px; }
      .summary-info .txt-area h2 span {
        font-size: 110px; }
    .summary-info .txt-area li {
      margin-bottom: 32px; }
      .summary-info .txt-area li > * {
        float: left; }
      .summary-info .txt-area li .sum-title {
        position: relative;
        display: inline-block;
        width: 208px;
        vertical-align: top;
        font-size: 30px;
        line-height: 30px;
        text-align: center;
        margin-right: 32px; }
        .summary-info .txt-area li .sum-title::after {
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 2px;
          height: 22px;
          background: rgba(255, 255, 255, 0.4); }
      .summary-info .txt-area li .sum-info {
        font-size: 24px;
        line-height: 30px; }
    .summary-info .txt-area a {
      -webkit-background-size: cover !important;
      background-size: cover !important;
      display: block;
      position: absolute;
      bottom: -1px;
      left: 15%;
      width: 328px;
      height: 101px;
      font-size: 20px;
      font-weight: 700;
      line-height: 130px;
      text-align: center;
      text-indent: 20px;
      background: url("../images/project/island-mini.svg") no-repeat center;
      transform-origin: left bottom; }
      .summary-info .txt-area a:hover, .summary-info .txt-area a:focus {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
  .summary-info .pic-area {
    -webkit-background-size: cover !important;
    background-size: cover !important;
    float: right;
    width: 808px;
    height: 808px;
    background: no-repeat center; }

.core-info {
  margin-top: 160px; }
  .core-info > p {
    margin-bottom: 110px;
    font-size: 40px;
    line-height: 68px;
    text-align: center; }
  .core-info .device-pc {
    -webkit-background-size: contain !important;
    background-size: contain !important;
    width: 1024px;
    height: 820px;
    margin: 0 auto;
    background: no-repeat center; }
  .core-info h2 {
    margin: 200px 0 80px;
    font-size: 60px;
    text-align: center; }
  .core-info ul li {
    float: left; }
  .core-info ul strong {
    display: block;
    font-size: 48px;
    font-weight: 300;
    text-align: center; }
  .core-info ul .core-pic,
  .core-info ul .site-pic {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    background: no-repeat center; }
  .core-info .point li {
    width: 684px; }
    .core-info .point li + li {
      margin-left: 32px; }
  .core-info .point .core-pic {
    width: 684px;
    height: 464px; }
  .core-info .point strong {
    margin: 30px 0; }
  .core-info .point .core-txt {
    width: 688px;
    height: 400px;
    font-size: 30px;
    line-height: 68px;
    word-break: keep-all;
    text-align: center; }
  .core-info .report li {
    margin-bottom: 180px; }
    .core-info .report li > div {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      width: 448px;
      height: 652px; }
    .core-info .report li:nth-child(odd) > * {
      float: left; }
      .core-info .report li:nth-child(odd) > * + div {
        margin-left: 28px; }
    .core-info .report li:nth-child(even) > * {
      float: right; }
      .core-info .report li:nth-child(even) > * + div {
        margin-right: 28px; }
  .core-info .report .site-a11y {
    font-size: 24px;
    line-height: 54px;
    text-align: center;
    word-break: break-all; }
    .core-info .report .site-a11y p:nth-of-type(1) {
      position: relative;
      margin: 24px 0 120px;
      font-size: 20px; }
      .core-info .report .site-a11y p:nth-of-type(1)::after {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        content: "";
        position: absolute;
        bottom: -30px;
        left: 50%;
        width: 208px;
        height: 4px; }
    .core-info .report .site-a11y p:nth-of-type(2) {
      font-size: 24px;
      word-break: keep-all;
      text-align: center; }
  .core-info .report .site-pic {
    -webkit-background-size: contain !important;
    background-size: contain !important;
    background: no-repeat center;
    border: 1px solid; }
  .core-info .report .site-code * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .core-info .report .site-code .gist {
    width: 100%; }
  .core-info .report .site-code .gist .blob-code-inner {
    font-size: 20px; }
  .core-info .report .site-code .gist-data {
    height: 616px; }

/*# sourceMappingURL=common.css.map */
