@charset "UTF-8";
#main-cnt {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  #main-cnt .talk {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -webkit-animation: morph 5s ease-in-out infinite;
    -moz-animation: morph 5s ease-in-out infinite;
    animation: morph 5s ease-in-out infinite;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    position: relative;
    top: 50%;
    left: 50%;
    width: 820px;
    height: 760px;
    padding: 160px 120px;
    border: 1px solid #3e2a26;
    z-index: 10; }
    #main-cnt .talk p:first-of-type {
      font-size: 80px;
      line-height: 2;
      text-align: left; }
    #main-cnt .talk p:nth-of-type(2) {
      font-size: 40px;
      line-height: 60px;
      text-align: right; }
      #main-cnt .talk p:nth-of-type(2) span {
        color: #447844; }
    #main-cnt .talk img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10; }
  #main-cnt .link {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: absolute;
    padding: 100px;
    text-align: center;
    background: no-repeat /contain; }
    #main-cnt .link.bigger {
      -webkit-transform: scale(5);
      transform: scale(5);
      z-index: 100; }
      #main-cnt .link.bigger a {
        opacity: 0; }
    #main-cnt .link a {
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s;
      display: inline-block;
      font-size: 50px; }
  #main-cnt .link-intro {
    -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    top: -30%;
    left: -10%;
    width: 950px;
    height: 1000px;
    background-color: #d9abb3; }
    #main-cnt .link-intro a {
      line-height: 600px; }
  #main-cnt .link-project {
    -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    right: -10%;
    bottom: -30%;
    width: 950px;
    height: 1000px;
    background-color: #e5dedd; }
    #main-cnt .link-project a {
      line-height: 1000px; }
  #main-cnt .mysite {
    position: absolute;
    top: 5%;
    right: 5%; }
    #main-cnt .mysite li {
      float: left;
      margin: 0 10px; }
      #main-cnt .mysite li a {
        display: inline-block;
        text-align: center; }
        #main-cnt .mysite li a img {
          width: 24px; }
        #main-cnt .mysite li a span {
          font-family: LuxM;
          font-weight: 600;
          display: block; }

@keyframes morph {
  0% {
    -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%; }
  50% {
    -webkit-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -moz-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -ms-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -o-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; }
  100% {
    -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%; } }
/* 자기소개 페이지 */
#aboutme {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-background-size: 100% !important;
  background-size: 100% !important;
  opacity: 0;
  position: relative;
  top: 100px;
  width: 100%;
  padding-bottom: 400px;
  background: url("../images/main/bg-pink.svg") no-repeat bottom center; }
  #aboutme.load {
    opacity: 1;
    top: 0; }
  #aboutme .hide {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    top: 100px; }
    #aboutme .hide.fadein {
      opacity: 1;
      top: 0; }
  #aboutme .bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; }
  #aboutme h2 {
    padding-top: 100px;
    margin-left: 120px;
    font-size: 50px;
    background-color: red; }
  #aboutme .my_feature {
    position: relative;
    width: 100%;
    padding-top: 150px;
    font-size: 38px;
    line-height: 1.8;
    background-color: rgba(255, 166, 0, 0.4); }
    #aboutme .my_feature p {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      background-color: gold; }
    #aboutme .my_feature .me {
      -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
      -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
      -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
      -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
      border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
      -webkit-background-size: contain !important;
      background-size: contain !important;
      position: relative;
      width: 650px;
      height: 650px;
      background: yellow no-repeat center; }
      #aboutme .my_feature .me::after {
        -webkit-background-size: contain !important;
        background-size: contain !important;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%; }
  #aboutme .think {
    background: greenyellow;
    padding-top: 0; }
    #aboutme .think > * {
      float: right; }
    #aboutme .think .me::after {
      background: url("../images/main/magic.png") no-repeat center; }
  #aboutme .happy > * {
    float: left; }
  #aboutme .happy p {
    right: 0; }
  #aboutme .happy .me::after {
    background: url("../images/main/making.png") no-repeat center; }
  #aboutme .ability {
    height: 650px;
    background: rgba(127, 255, 212, 0.572); }
    #aboutme .ability.fadein .show {
      opacity: 0; }
    #aboutme .ability.fadein .appear {
      opacity: 1 !important; }
    #aboutme .ability.fadein .me {
      bottom: 150px;
      left: 670px;
      width: 750px;
      height: 750px; }
    #aboutme .ability > * {
      float: left; }
    #aboutme .ability > div:first-child {
      position: relative;
      top: 50%; }
      #aboutme .ability > div:first-child .show-magic {
        position: relative;
        display: inline-block;
        color: #ed6d46;
        background: #fff;
        border: 3px solid #ed6d46; }
        #aboutme .ability > div:first-child .show-magic .show {
          -webkit-transition: opacity 0.5s 1.5s;
          -moz-transition: opacity 0.5s 1.5s;
          -o-transition: opacity 0.5s 1.5s;
          transition: opacity 0.5s 1.5s; }
        #aboutme .ability > div:first-child .show-magic .appear {
          -webkit-transition: opacity 0.5s 2s;
          -moz-transition: opacity 0.5s 2s;
          -o-transition: opacity 0.5s 2s;
          transition: opacity 0.5s 2s;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0; }
    #aboutme .ability .me {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -webkit-transition: all 1.5s cubic-bezier(0.41, 0.01, 1, 1);
      -moz-transition: all 1.5s cubic-bezier(0.41, 0.01, 1, 1);
      -o-transition: all 1.5s cubic-bezier(0.41, 0.01, 1, 1);
      transition: all 1.5s cubic-bezier(0.41, 0.01, 1, 1);
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../images/main/flying.png") no-repeat center; }
  #aboutme .ability_list {
    background-color: yellowgreen; }
    #aboutme .ability_list li {
      position: relative;
      float: left;
      width: 328px;
      height: 328px;
      background-color: skyblue; }
      #aboutme .ability_list li + li {
        margin-left: 152px; }
      #aboutme .ability_list li::after {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 328px;
        height: 328px;
        background: url("../images/main/c-orange.svg") no-repeat center/cover;
        z-index: 100; }
      #aboutme .ability_list li::before {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
        position: absolute;
        top: 50%;
        left: 120px;
        width: 328px;
        height: 328px;
        background: url("../images/main/c-black.svg") no-repeat center/cover;
        z-index: 10; }
      #aboutme .ability_list li .ability_txt {
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        left: 120px;
        width: 100%;
        font-size: 24px;
        line-height: 1.5;
        color: #fff;
        z-index: 1000; }
        #aboutme .ability_list li .ability_txt strong {
          display: block;
          margin-bottom: 20px;
          font-family: LuxM;
          font-size: 40px;
          color: #333; }
  #aboutme #main-project {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    position: relative;
    width: 840px;
    height: 610px;
    margin: 300px auto 0;
    background: url("../images/main/website.png") no-repeat center; }
    #aboutme #main-project::after {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-background-size: cover !important;
      background-size: cover !important;
      content: "";
      position: absolute;
      bottom: -340px;
      left: 50%;
      width: 600px;
      height: 578px;
      background: transparent url("../images/main/thinking.png") no-repeat center; }
    #aboutme #main-project.left::after {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      transform-origin: 25% 50%; }
    #aboutme #main-project p {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      position: relative;
      top: -100px;
      left: 50%;
      width: 100%;
      font-size: 40px;
      text-align: center; }
    #aboutme #main-project .link {
      margin: 40px 60px; }
      #aboutme #main-project .link a {
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        border-radius: 40px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        position: relative;
        display: inline-block;
        left: 50%;
        width: 208px;
        height: 208px;
        border: 3px solid #000; }
      #aboutme #main-project .link .check {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 0;
        border: 30px solid #ed6d46;
        width: 200px;
        height: 100px;
        border-top: none;
        border-right: none;
        transform-origin: top left; }
      #aboutme #main-project .link span {
        position: relative;
        display: block;
        font-size: 30px;
        font-weight: 700;
        text-align: center; }
        #aboutme #main-project .link span::before {
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 0;
          height: 30px;
          background: rgba(255, 165, 0, 0.3); }
      #aboutme #main-project .link:hover a {
        border-color: #ed6d46; }
      #aboutme #main-project .link:hover span::before {
        width: 100%; }
      #aboutme #main-project .link.click a {
        border-color: #ed6d46; }
        #aboutme #main-project .link.click a .check {
          -webkit-animation: checking 0.8s ease-out both;
          -moz-animation: checking 0.8s ease-out both;
          animation: checking 0.8s ease-out both; }
      #aboutme #main-project .link.click span::before {
        width: 100%; }
    #aboutme #main-project .link-main {
      float: left; }
      #aboutme #main-project .link-main svg {
        left: 0; }
    #aboutme #main-project .link-project {
      float: right; }
      #aboutme #main-project .link-project svg {
        right: -30px; }

@keyframes checking {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  50% {
    opacity: 1;
    width: 0;
    height: 100px; }
  100% {
    opacity: 1;
    width: 200px; } }
/* project */
#project-list {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  position: relative;
  top: 100px;
  text-align: center; }
  #project-list.load {
    opacity: 1;
    top: 0; }
  #project-list h1 {
    padding-top: 140px;
    font-size: 90px;
    font-weight: 400;
    text-align: center; }
  #project-list ul {
    display: inline-block;
    max-width: 1400px;
    width: auto;
    margin: 80px auto; }
    #project-list ul li {
      float: left;
      width: 445px; }
      #project-list ul li + li {
        margin-left: 32px; }
      #project-list ul li div {
        -webkit-background-size: cover !important;
        background-size: cover !important;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        position: relative;
        width: 445px;
        height: 300px;
        background: no-repeat center; }
        #project-list ul li div::after {
          -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
          -webkit-background-size: 70% !important;
          background-size: 70% !important;
          -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
          -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
          -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
          -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
          border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
          -webkit-animation: morph 3s ease-in-out infinite;
          -moz-animation: morph 3s ease-in-out infinite;
          animation: morph 3s ease-in-out infinite;
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 120px;
          height: 120px;
          background: #fff no-repeat center; }
      #project-list ul li.project-cgv div {
        background-image: url("../images/project/thumb-cgv1.png"); }
        #project-list ul li.project-cgv div::after {
          background-image: url("../images/project/logo-cgv.png"); }
      #project-list ul li.project-tabtap div {
        background-image: url("../images/project/thumb-tab1.png"); }
        #project-list ul li.project-tabtap div::after {
          background-image: url("../images/project/logo-tab.svg"); }
      #project-list ul li.project-gs div {
        background-image: url("../images/project/thumb-gs1.png"); }
        #project-list ul li.project-gs div::after {
          background-image: url("../images/project/logo-gs.png"); }
      #project-list ul li strong {
        display: block;
        margin: 80px 0 10px;
        font-family: LuxM;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 1.5;
        text-align: center; }
      #project-list ul li p {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        padding: 16px;
        font-size: 24px;
        word-break: keep-all;
        color: #000; }
      #project-list ul li a {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        display: block;
        position: relative;
        width: 208px;
        height: 50px;
        margin: 30px auto 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        border: 1px solid #3e2a26; }
        #project-list ul li a::after {
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          border-radius: 4px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 50px;
          background: #fff;
          z-index: -10; }
        #project-list ul li a:hover::after, #project-list ul li a:focus::after {
          width: 100%; }

/* cgv-detail */
#cgv-info .summary-info {
  background: #b34744; }
  #cgv-info .summary-info .tooltip p::after {
    color: #b34744; }
  #cgv-info .summary-info > a {
    color: #b34744; }
  #cgv-info .summary-info .pic-area {
    background-image: url("../images/project/main-cgv1.png"); }
#cgv-info .core-info .device-pc {
  background-image: url("../images/project/pc-cgv1.png"); }
#cgv-info .core-info .tooltip p::before {
  border-bottom-color: #b34744; }
#cgv-info .core-info .tooltip p::after {
  background-color: #b34744; }
#cgv-info .core-info .point li:nth-of-type(1) .core-pic {
  background-image: url("../images/project/cgv-detail-toggle1.png"); }
#cgv-info .core-info .point li:nth-of-type(2) .core-pic {
  background-image: url("../images/project/cgv-detail-tab1.png"); }
#cgv-info .core-info .point .core-pic {
  border-color: #b34744; }
#cgv-info .core-info .report li div:focus {
  outline: 4px solid #f00; }
#cgv-info .core-info .report .site-a11y strong {
  color: #b34744; }
#cgv-info .core-info .report .site-a11y p:nth-of-type(1)::after {
  background: #b34744; }
#cgv-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2) {
  background-image: url("../images/project/cgv-detail-circle1.png"); }
  #cgv-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2)::after {
    background-image: url("../images/project/cgv-detail-circle1.png");
    clip: rect(10px, 330px, 210px, 130px);
    clip-path: circle(100px at 230px 110px); }
#cgv-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(3) {
  background-image: url("../images/project/cgv-detail-under1.png"); }
  #cgv-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(3)::after {
    background-image: url("../images/project/cgv-detail-under1.png");
    clip: rect(180px, 300px, 380px, 100px);
    clip-path: circle(100px at 200px 280px); }
#cgv-info .core-info .report li:nth-of-type(2) .site-pic {
  background-image: url("../images/project/cgv-detail-a1.png"); }
  #cgv-info .core-info .report li:nth-of-type(2) .site-pic::after {
    background-image: url("../images/project/cgv-detail-a1.png");
    clip: rect(270px, 240px, 470px, 40px);
    clip-path: circle(100px at 140px 370px); }
#cgv-info .core-info .report .site-pic {
  border-color: #b34744; }
#cgv-info .core-info .report .site-code .gist-file {
  border-color: #b34744; }

/* tab-detail */
#tab-info .summary-info {
  background: #735587; }
  #tab-info .summary-info h2 {
    padding-top: 30px; }
    #tab-info .summary-info h2 span {
      font-size: 80px; }
  #tab-info .summary-info .tooltip p::after {
    color: #735587; }
  #tab-info .summary-info > a {
    color: #735587; }
  #tab-info .summary-info .pic-area {
    background-image: url("../images/project/main-tab1.png"); }
#tab-info .core-info .device-pc {
  background-image: url("../images/project/mobile-tab1.png"); }
#tab-info .core-info .tooltip p::before {
  border-bottom-color: #735587; }
#tab-info .core-info .tooltip p::after {
  background-color: #735587; }
#tab-info .core-info .point li:nth-of-type(1) .core-pic {
  background-image: url("../images/project/tab-detail-tab1.png"); }
#tab-info .core-info .point li:nth-of-type(2) .core-pic {
  background-image: url("../images/project/tab-detail-scroll1.png"); }
#tab-info .core-info .point .core-pic {
  border-color: #735587; }
#tab-info .core-info .report li div:focus {
  outline: 4px solid #800080; }
#tab-info .core-info .report .site-a11y strong {
  color: #735587; }
#tab-info .core-info .report .site-a11y p:nth-of-type(1)::after {
  background: #735587; }
#tab-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2) {
  background-image: url("../images/project/tab-detail-color1.png"); }
  #tab-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2)::after {
    background-image: url("../images/project/tab-detail-color1.png");
    clip: rect(224px, 445px, 424px, 245px);
    clip-path: circle(100px at 345px 324px); }
#tab-info .core-info .report li:nth-of-type(2) .site-pic {
  background-image: url("../images/project/tab-detail-button1.png"); }
  #tab-info .core-info .report li:nth-of-type(2) .site-pic::after {
    background-image: url("../images/project/tab-detail-button1.png");
    clip: rect(231px, 149px, 431px, -50px);
    clip-path: circle(100px at 0px 331px); }
#tab-info .core-info .report .site-pic {
  border-color: #735587; }
#tab-info .core-info .report .site-code .gist-file {
  border-color: #735587; }

/* gs-detail */
#gs-info .summary-info {
  background: #349b94; }
  #gs-info .summary-info .tooltip p::after {
    color: #349b94; }
  #gs-info .summary-info > a {
    color: #349b94; }
  #gs-info .summary-info .pic-area {
    background-image: url("../images/project/main-gs1.png"); }
#gs-info .core-info .device-pc {
  background-image: url("../images/project/all-gs1.png"); }
#gs-info .core-info .tooltip p::before {
  border-bottom-color: #349b94; }
#gs-info .core-info .tooltip p::after {
  background-color: #349b94; }
#gs-info .core-info .point li:nth-of-type(1) .core-pic {
  background-image: url("../images/project/gs-detail-video1.png"); }
#gs-info .core-info .point li:nth-of-type(2) .core-pic {
  background-image: url("../images/project/gs-detail-scroll1.png"); }
#gs-info .core-info .point .core-pic {
  border-color: #349b94; }
#gs-info .core-info .report li div:focus {
  outline: 4px solid #008000; }
#gs-info .core-info .report .site-a11y strong {
  color: #349b94; }
#gs-info .core-info .report .site-a11y p:nth-of-type(1)::after {
  background: #349b94; }
#gs-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2) {
  background-image: url("../images/project/gs-detail-lang1.png"); }
  #gs-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2)::after {
    background-image: url("../images/project/gs-detail-lang1.png");
    clip: rect(0px, 448px, 200px, 248px);
    clip-path: circle(100px at 348px 100px); }
#gs-info .core-info .report li:nth-of-type(2) .site-pic {
  background-image: url("../images/project/gs-detail-family1.png"); }
  #gs-info .core-info .report li:nth-of-type(2) .site-pic::after {
    background-image: url("../images/project/gs-detail-family1.png");
    clip: rect(425px, 350px, 625px, 150px);
    clip-path: circle(100px at 250px 525px); }
#gs-info .core-info .report .site-pic {
  border-color: #349b94; }
#gs-info .core-info .report .site-code .gist-file {
  border-color: #349b94; }

/* PC: 144Opx~1280px */
@media screen and (max-width: 1440px) {
  #aboutme {
    -webkit-background-size: 150%, 100% !important;
    background-size: 150%, 100% !important; }
    #aboutme .max1400 {
      max-width: none;
      width: 100%; }
    #aboutme h2 {
      font-size: 40px; }
    #aboutme .my_feature {
      font-size: 30px; }
      #aboutme .my_feature .me {
        width: 45.1388888889vw;
        height: 45.1388888889vw; }
    #aboutme .think > * {
      float: right; }
    #aboutme .think p {
      left: 4%; }
    #aboutme .think .me {
      right: 4%; }
    #aboutme .happy > * {
      float: left; }
    #aboutme .happy p {
      right: 4%; }
    #aboutme .happy .me {
      left: 4%; }
    #aboutme .ability {
      height: 650px; }
      #aboutme .ability.fadein .me {
        left: 41.6666666667vw;
        bottom: 10.4166666667vw;
        width: 700px;
        height: 700px; }
      #aboutme .ability > div:first-child {
        left: 4%; }
    #aboutme .ability_list li {
      width: 22.7777777778vw;
      height: 22.7777777778vw; }
      #aboutme .ability_list li + li {
        margin-left: 10.5555555556vw; }
      #aboutme .ability_list li::after {
        width: 22.7777777778vw;
        height: 22.7777777778vw; }
      #aboutme .ability_list li::before {
        left: 8.3333333333vw;
        width: 22.7777777778vw;
        height: 22.7777777778vw; }
      #aboutme .ability_list li .ability_txt {
        left: 8.3333333333vw;
        width: 90%;
        font-size: 20px; }
        #aboutme .ability_list li .ability_txt strong {
          margin-bottom: 14px;
          font-size: 30px; }
    #aboutme #main-project {
      width: 58.3333333333vw;
      height: 42.3611111111vw;
      margin: 20.8333333333vw auto 0; }
      #aboutme #main-project::after {
        bottom: -23.6111111111vw;
        width: 41.6666666667vw;
        height: 40.1388888889vw; }
      #aboutme #main-project p {
        top: -6.9444444444vw;
        font-size: 38px; }
      #aboutme #main-project .link {
        margin: 2.7777777778vw 4.1666666667vw; }
        #aboutme #main-project .link a {
          width: 14.4444444444vw;
          height: 14.4444444444vw; }
        #aboutme #main-project .link .check {
          border: 2.0833333333vw solid #ed6d46;
          width: 13.8888888889vw;
          height: 6.9444444444vw;
          border-top: none;
          border-right: none; }
        #aboutme #main-project .link span {
          font-size: 26px; }
          #aboutme #main-project .link span::before {
            height: 26px; }
      #aboutme #main-project .link-project svg {
        right: -vw-calc1440(30); }
  @keyframes checking {
    0% {
      opacity: 0;
      width: 0;
      height: 0; }
    50% {
      opacity: 1;
      width: 0;
      height: 6.9444444444vw; }
    100% {
      opacity: 1;
      width: 13.8888888889vw; } }
  #project-list h1 {
    padding-top: 100px;
    font-size: 60px; }
  #project-list ul {
    max-width: none;
    width: auto;
    margin: 60px auto 120px; }
    #project-list ul li {
      width: 23.1770833333vw; }
      #project-list ul li + li {
        margin-left: 32px; }
      #project-list ul li div {
        width: 23.1770833333vw;
        height: 15.625vw; }
        #project-list ul li div::after {
          width: 6.25vw;
          height: 6.25vw; }
      #project-list ul li strong {
        margin: 60px 0 0;
        font-size: 26px; }
      #project-list ul li p {
        font-size: 22px; }

  #tab-info .summary-info h2 {
    padding-top: 0; }
    #tab-info .summary-info h2 span {
      font-size: 70px; } }
/* PC: 1280px~1024px */
@media screen and (max-width: 1280px) {
  #aboutme h2 {
    font-size: 40px; }
  #aboutme .my_feature {
    font-size: 26px; }
  #aboutme .ability {
    height: 550px; }
    #aboutme .ability.fadein .me {
      width: 580px;
      height: 580px; }
  #aboutme .ability_list li {
    width: 22.7777777778vw;
    height: 22.7777777778vw; }
    #aboutme .ability_list li + li {
      margin-left: 10.5555555556vw; }
    #aboutme .ability_list li::after {
      width: 22.7777777778vw;
      height: 22.7777777778vw; }
    #aboutme .ability_list li::before {
      left: 8.3333333333vw;
      width: 22.7777777778vw;
      height: 22.7777777778vw; }
    #aboutme .ability_list li .ability_txt {
      left: 8.3333333333vw;
      width: 100%;
      font-size: 18px; }
      #aboutme .ability_list li .ability_txt strong {
        margin-bottom: 10px;
        font-size: 26px; }
  #aboutme #main-project p {
    margin-bottom: 20px;
    font-size: 34px; }

  #project-list h1 {
    padding-top: 80px;
    font-size: 50px; }
  #project-list ul {
    margin: 50px auto 110px; }
    #project-list ul li strong {
      margin: 60px 0 0;
      font-size: 26px; }
    #project-list ul li p {
      height: 160px;
      font-size: 18px; }

  #tab-info .summary-info h2 span {
    font-size: 52px; } }
/* Tablet: 1024px~768px */
@media screen and (max-width: 1024px) {
  #aboutme {
    -webkit-background-size: 350%, 100% !important;
    background-size: 350%, 100% !important; }
    #aboutme h2 {
      padding-top: 60px;
      margin-left: 0;
      font-size: 40px;
      text-align: center; }
    #aboutme .my_feature {
      font-size: 34px;
      height: 117.1875vw; }
      #aboutme .my_feature p {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        top: 83.0078125vw;
        width: 100%;
        text-align: center; }
      #aboutme .my_feature .me {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: 63.4765625vw;
        height: 63.4765625vw; }
    #aboutme .think {
      padding-top: 100px; }
      #aboutme .think > * {
        float: none; }
      #aboutme .think p {
        left: 50%; }
      #aboutme .think .me {
        left: 50%; }
    #aboutme .happy {
      padding-top: 100px; }
      #aboutme .happy > * {
        float: none; }
      #aboutme .happy p {
        left: 50%;
        right: auto; }
      #aboutme .happy .me {
        left: 50%; }
    #aboutme .ability {
      height: 87.890625vw;
      padding-top: 0; }
      #aboutme .ability.fadein .me {
        left: 65%;
        bottom: 30%;
        width: 58.59375vw;
        height: 58.59375vw; }
      #aboutme .ability > div:first-child {
        left: 8%;
        top: 80%; }
    #aboutme .ability_list li {
      float: none;
      width: 648px;
      height: 428px;
      margin: 0 auto; }
      #aboutme .ability_list li + li {
        margin-left: 0;
        margin: 100px auto 0; }
      #aboutme .ability_list li::after {
        width: 428px;
        height: 428px; }
      #aboutme .ability_list li::before {
        left: 220px;
        width: 428px;
        height: 428px; }
      #aboutme .ability_list li .ability_txt {
        left: 220px;
        width: 400px;
        font-size: 30px; }
        #aboutme .ability_list li .ability_txt strong {
          font-size: 42px; }
    #aboutme #main-project {
      width: 82.03125vw;
      height: 59.5703125vw;
      margin: 300px auto 0; }
      #aboutme #main-project::after {
        bottom: -33.203125vw;
        width: 58.59375vw;
        height: 56.4453125vw; }
      #aboutme #main-project p {
        top: -13.671875vw;
        font-size: 38px; }
      #aboutme #main-project .link {
        margin: 3.90625vw 5.859375vw; }
        #aboutme #main-project .link a {
          width: 20.3125vw;
          height: 20.3125vw; }
        #aboutme #main-project .link .check {
          border: 2.9296875vw solid #ed6d46;
          width: 19.53125vw;
          height: 9.765625vw;
          border-top: none;
          border-right: none; }
      #aboutme #main-project .link-project svg {
        right: -vw-calc1440(30); }
  @keyframes checking {
    0% {
      opacity: 0;
      width: 0;
      height: 0; }
    50% {
      opacity: 1;
      width: 0;
      height: 9.765625vw; }
    100% {
      opacity: 1;
      width: 19.53125vw; } }
  #project-list h1 {
    padding-top: 100px;
    font-size: 60px; }
  #project-list ul {
    width: 90%;
    margin: 60px auto 120px; }
    #project-list ul li {
      float: none;
      position: relative;
      width: 100%;
      margin: 0 auto; }
      #project-list ul li + li {
        margin-left: auto;
        margin-top: 100px; }
      #project-list ul li > * {
        position: absolute; }
      #project-list ul li div {
        left: 0;
        top: 50%;
        width: 43.9453125vw;
        height: 29.296875vw; }
        #project-list ul li div::after {
          width: 11.71875vw;
          height: 11.71875vw; }
      #project-list ul li strong {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        right: 25%;
        top: 8%;
        margin: 0;
        font-size: 30px; }
      #project-list ul li p {
        -webkit-transform: translate(50%, -50%);
        transform: translate(50%, -50%);
        right: 25%;
        top: 50%;
        width: 40%;
        height: auto;
        padding: 0;
        font-size: 18px; }
      #project-list ul li a {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        right: 25%;
        bottom: 0;
        position: absolute;
        width: 208px;
        height: 50px;
        margin: 0; }

  #tab-info .summary-info h2 span {
    font-size: 60px; } }
/* Tablet: 768px~600px */
@media screen and (max-width: 768px) {
  #aboutme {
    -webkit-background-size: 350%, 100% !important;
    background-size: 350%, 100% !important; }
    #aboutme h2 {
      padding-top: 0;
      padding: 60px 0; }
    #aboutme .my_feature {
      height: 156.25vw;
      font-size: 30px; }
      #aboutme .my_feature p {
        top: 96.3541666667vw; }
      #aboutme .my_feature .me {
        width: 84.6354166667vw;
        height: 84.6354166667vw; }
    #aboutme .think {
      padding-top: 0; }
    #aboutme .happy {
      padding-top: 0; }
    #aboutme .ability {
      height: 78.125vw; }
    #aboutme .ability_list li {
      width: 84.375vw;
      height: 55.7291666667vw; }
      #aboutme .ability_list li + li {
        margin: 100px auto 0; }
      #aboutme .ability_list li::after {
        width: 55.7291666667vw;
        height: 55.7291666667vw; }
      #aboutme .ability_list li::before {
        left: 28.6458333333vw;
        width: 55.7291666667vw;
        height: 55.7291666667vw; }
      #aboutme .ability_list li .ability_txt {
        left: 23.4375vw;
        width: 360px;
        font-size: 26px; }
    #aboutme #main-project .link {
      margin: 0 2.7777777778vw; }
      #aboutme #main-project .link span {
        font-size: 22px; }
        #aboutme #main-project .link span::before {
          height: 22px; }

  #project-list h1 {
    padding-top: 80px;
    font-size: 50px; }
  #project-list ul li strong {
    font-size: 26px; }
  #project-list ul li p {
    width: 50%;
    line-height: 1.4; }
  #project-list ul li a {
    width: 120px;
    height: 40px;
    line-height: 40px; }

  #tab-info .summary-info h2 span {
    font-size: 52px; } }
/* Mobile: 600px~425px */
@media screen and (max-width: 600px) {
  #aboutme {
    -webkit-background-size: 400%, 100% !important;
    background-size: 400%, 100% !important;
    padding-bottom: 200px; }
    #aboutme h2 {
      padding: 40px 0;
      font-size: 30px; }
    #aboutme .my_feature {
      font-size: 22px; }
    #aboutme .ability_list {
      margin-top: 40px; }
      #aboutme .ability_list li .ability_txt {
        left: 16.6666666667vw;
        width: 300px;
        font-size: 22px; }
        #aboutme .ability_list li .ability_txt strong {
          margin-bottom: 4px;
          font-size: 30px; }
    #aboutme #main-project {
      margin: 180px auto 0; }
      #aboutme #main-project::after {
        width: 50vw;
        height: 48.1666666667vw; }
      #aboutme #main-project p {
        top: -20vw;
        font-size: 26px; }
      #aboutme #main-project .link {
        margin: -1.6666666667vw 2.7777777778vw 0; }
        #aboutme #main-project .link a {
          -webkit-border-radius: 20px;
          -moz-border-radius: 20px;
          -ms-border-radius: 20px;
          -o-border-radius: 20px;
          border-radius: 20px; }
        #aboutme #main-project .link span {
          top: -10px;
          font-size: 18px; }
      #aboutme #main-project .link-project svg {
        right: -vw-calc1440(30); }

  #project-list h1 {
    padding-top: 60px;
    font-size: 40px; }
  #project-list ul {
    margin: 50px auto 80px; }
    #project-list ul li {
      height: 130vw; }
      #project-list ul li div {
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        top: 0;
        width: 74.1666666667vw;
        height: 50vw; }
        #project-list ul li div::after {
          width: 20vw;
          height: 20vw; }
      #project-list ul li strong {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        right: 50%;
        top: 66.6666666667vw;
        font-size: 40px; }
      #project-list ul li p {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        right: 50%;
        top: 83.3333333333vw;
        width: 100%;
        font-size: 24px;
        line-height: 1.6; }
      #project-list ul li a {
        -webkit-transform: translateX(50%);
        transform: translateX(50%);
        right: 50%;
        bottom: 0;
        width: 180px;
        height: 60px;
        line-height: 60px;
        font-size: 22px; }

  #cgv-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2)::after {
    clip: rect(1.6666666667vw, 55vw, 35vw, 21.6666666667vw);
    clip-path: circle(16.6666666667vw at 38.3333333333vw 18.3333333333vw); }
  #cgv-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(3)::after {
    clip: rect(30vw, 50vw, 63.3333333333vw, 16.6666666667vw);
    clip-path: circle(16.6666666667vw at 33.3333333333vw 46.6666666667vw); }
  #cgv-info .core-info .report li:nth-of-type(2) .site-pic::after {
    clip: rect(45vw, 40vw, 78.3333333333vw, 6.6666666667vw);
    clip-path: circle(16.6666666667vw at 23.3333333333vw 61.6666666667vw); }

  #tab-info .summary-info h2 span {
    font-size: 40px; }
  #tab-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2)::after {
    clip: rect(37.3333333333vw, 74.1666666667vw, 70.6666666667vw, 40.8333333333vw);
    clip-path: circle(16.6666666667vw at 57.5vw 54vw); }
  #tab-info .core-info .report li:nth-of-type(2) .site-pic::after {
    clip: rect(38.5vw, 24.8333333333vw, 71.8333333333vw, -8.3333333333vw);
    clip-path: circle(16.6666666667vw at 0px 331px); }

  #gs-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2)::after {
    clip: rect(0vw, 74.6666666667vw, 33.3333333333vw, 41.3333333333vw);
    clip-path: circle(16.6666666667vw at 58vw 16.6666666667vw); }
  #gs-info .core-info .report li:nth-of-type(2) .site-pic::after {
    clip: rect(70.8333333333vw, 58.3333333333vw, 104.1666666667vw, 25vw);
    clip-path: circle(16.6666666667vw at 41.6666666667vw 87.5vw); } }
/* Mobile: 425px~ */
@media screen and (max-width: 425px) {
  #aboutme {
    -webkit-background-size: 400%, 100% !important;
    background-size: 400%, 100% !important; }
    #aboutme h2 {
      padding: 30px 0;
      font-size: 26px; }
    #aboutme .my_feature {
      font-size: 16px; }
    #aboutme .ability_list li + li {
      margin: 60px auto 0; }
    #aboutme .ability_list li .ability_txt {
      left: 15vw;
      width: 210px;
      font-size: 16px; }
      #aboutme .ability_list li .ability_txt strong {
        margin-bottom: 2px;
        font-size: 22px; }
    #aboutme #main-project {
      margin: 180px auto 0; }
      #aboutme #main-project::after {
        width: 46.6666666667vw;
        height: 45vw; }
      #aboutme #main-project p {
        top: -20vw;
        font-size: 22px; }
      #aboutme #main-project .link {
        margin: -3.3333333333vw 2.7777777778vw 0; }
        #aboutme #main-project .link a {
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          -ms-border-radius: 10px;
          -o-border-radius: 10px;
          border-radius: 10px; }
        #aboutme #main-project .link span {
          top: -10px;
          font-size: 16px; }
      #aboutme #main-project .link-project svg {
        right: -vw-calc1440(30); }

  #project-list ul {
    margin: 30px auto 40px; }
    #project-list ul li {
      height: 146.6666666667vw; }
      #project-list ul li strong {
        font-size: 30px; }
      #project-list ul li p {
        font-size: 20px;
        line-height: 1.6; }
      #project-list ul li a {
        width: 160px;
        height: 50px;
        line-height: 50px;
        font-size: 18px; }

  #tab-info .summary-info h2 span {
    font-size: 40px; } }

/*# sourceMappingURL=style.css.map */
