@charset "UTF-8";
#main-cnt {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  #main-cnt .talk {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -webkit-animation: morph 5s ease-in-out infinite;
    -moz-animation: morph 5s ease-in-out infinite;
    animation: morph 5s ease-in-out infinite;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    position: relative;
    top: 50%;
    left: 50%;
    width: 820px;
    height: 760px;
    padding: 160px 120px;
    border: 1px solid #3e2a26;
    z-index: 10; }
    #main-cnt .talk p:first-of-type {
      font-size: 80px;
      line-height: 2;
      text-align: left; }
    #main-cnt .talk p:nth-of-type(2) {
      font-size: 40px;
      line-height: 60px;
      text-align: right; }
      #main-cnt .talk p:nth-of-type(2) span {
        color: #447844; }
    #main-cnt .talk img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10; }
  #main-cnt .link {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    position: absolute;
    padding: 100px;
    text-align: center;
    background: no-repeat /contain; }
    #main-cnt .link.bigger {
      -webkit-transform: scale(5);
      transform: scale(5);
      z-index: 100; }
      #main-cnt .link.bigger a {
        opacity: 0; }
    #main-cnt .link a {
      -webkit-transition: opacity 0.3s;
      -moz-transition: opacity 0.3s;
      -o-transition: opacity 0.3s;
      transition: opacity 0.3s;
      display: inline-block;
      font-size: 50px; }
  #main-cnt .link-intro {
    -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    top: -30%;
    left: -10%;
    width: 950px;
    height: 1000px;
    background-color: #d9abb3; }
    #main-cnt .link-intro a {
      line-height: 600px; }
  #main-cnt .link-project {
    -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    right: -10%;
    bottom: -30%;
    width: 950px;
    height: 1000px;
    background-color: #e5dedd; }
    #main-cnt .link-project a {
      line-height: 1000px; }
  #main-cnt .mysite {
    position: absolute;
    top: 5%;
    right: 5%; }
    #main-cnt .mysite li {
      float: left;
      margin: 0 10px; }
      #main-cnt .mysite li a {
        display: inline-block;
        text-align: center; }
        #main-cnt .mysite li a img {
          width: 24px; }
        #main-cnt .mysite li a span {
          font-family: LuxM;
          font-weight: 600;
          display: block; }

@keyframes morph {
  0% {
    -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%; }
  50% {
    -webkit-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -moz-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -ms-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    -o-border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; }
  100% {
    -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
    border-radius: 42% 58% 70% 30%/45% 45% 55% 55%; } }
/* 자기소개 페이지 */
#aboutme {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  position: relative;
  top: 100px;
  padding-bottom: 400px;
  background: url("../images/main/bg-pink.svg") no-repeat bottom center/100%; }
  #aboutme.load {
    opacity: 1;
    top: 0; }
  #aboutme .hide {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    opacity: 0;
    top: 100px; }
    #aboutme .hide.fadein {
      opacity: 1;
      top: 0; }
  #aboutme .bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw; }
  #aboutme h2 {
    padding-top: 100px;
    margin-left: 120px;
    font-size: 50px; }
  #aboutme .my_feature {
    position: relative;
    width: 100%;
    padding-top: 150px;
    font-size: 40px;
    line-height: 68px; }
    #aboutme .my_feature p {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      top: 50%; }
    #aboutme .my_feature .me {
      -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
      -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
      -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
      -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
      border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
      -webkit-background-size: contain !important;
      background-size: contain !important;
      position: relative;
      width: 650px;
      height: 650px;
      background: #e5dedd no-repeat center; }
      #aboutme .my_feature .me::after {
        -webkit-background-size: contain !important;
        background-size: contain !important;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%; }
  #aboutme .think {
    padding-top: 0; }
    #aboutme .think > * {
      float: right; }
    #aboutme .think .me::after {
      background: url("../images/main/magic.png") no-repeat center; }
  #aboutme .happy > * {
    float: left; }
  #aboutme .happy p {
    right: 0; }
  #aboutme .happy .me::after {
    background: url("../images/main/making.png") no-repeat center; }
  #aboutme .ability {
    height: 650px; }
    #aboutme .ability.fadein .show {
      opacity: 0; }
    #aboutme .ability.fadein .appear {
      opacity: 1 !important; }
    #aboutme .ability.fadein .me {
      bottom: 150px;
      left: 670px;
      width: 750px;
      height: 750px; }
    #aboutme .ability > * {
      float: left; }
    #aboutme .ability > div:first-child {
      position: relative;
      top: 50%; }
      #aboutme .ability > div:first-child .show-magic {
        position: relative;
        display: inline-block;
        color: #ed6d46;
        background: #fff;
        border: 3px solid #ed6d46; }
        #aboutme .ability > div:first-child .show-magic .show {
          -webkit-transition: opacity 0.5s 1.5s;
          -moz-transition: opacity 0.5s 1.5s;
          -o-transition: opacity 0.5s 1.5s;
          transition: opacity 0.5s 1.5s; }
        #aboutme .ability > div:first-child .show-magic .appear {
          -webkit-transition: opacity 0.5s 2s;
          -moz-transition: opacity 0.5s 2s;
          -o-transition: opacity 0.5s 2s;
          transition: opacity 0.5s 2s;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0; }
    #aboutme .ability .me {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -webkit-transition: all 1.5s cubic-bezier(0.41, 0.01, 1, 1);
      -moz-transition: all 1.5s cubic-bezier(0.41, 0.01, 1, 1);
      -o-transition: all 1.5s cubic-bezier(0.41, 0.01, 1, 1);
      transition: all 1.5s cubic-bezier(0.41, 0.01, 1, 1);
      position: absolute;
      bottom: 0;
      left: 0;
      background: none;
      background-image: url("../images/main/flying.png"); }
  #aboutme .ability_list li {
    position: relative;
    float: left;
    width: 328px;
    height: 328px; }
    #aboutme .ability_list li + li {
      margin-left: 152px; }
    #aboutme .ability_list li::after {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      width: 328px;
      height: 328px;
      background: url("../images/main/c-orange.svg") no-repeat center/cover;
      z-index: 100; }
    #aboutme .ability_list li::before {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      content: "";
      position: absolute;
      top: 50%;
      left: 120px;
      width: 328px;
      height: 328px;
      background: url("../images/main/c-black.svg") no-repeat center/cover;
      z-index: 10; }
    #aboutme .ability_list li .ability_txt {
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 120px;
      width: 100%;
      font-size: 24px;
      line-height: 36px;
      color: #fff;
      z-index: 1000; }
      #aboutme .ability_list li .ability_txt strong {
        display: block;
        margin-bottom: 20px;
        font-family: LuxM;
        font-size: 40px;
        color: #333; }
  #aboutme #main-project {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-background-size: cover !important;
    background-size: cover !important;
    position: relative;
    width: 840px;
    height: 610px;
    margin: 300px auto 0;
    background: url("../images/main/website.png") no-repeat center; }
    #aboutme #main-project::after {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-background-size: cover !important;
      background-size: cover !important;
      content: "";
      position: absolute;
      bottom: -340px;
      left: 50%;
      width: 600px;
      height: 578px;
      background: url("../images/main/thinking.png") no-repeat center; }
    #aboutme #main-project.left::after {
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      transform-origin: 25% 50%; }
    #aboutme #main-project p {
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      position: relative;
      top: -100px;
      left: 50%;
      width: 500px;
      font-size: 40px;
      text-align: center; }
    #aboutme #main-project .link {
      margin: 40px 60px; }
      #aboutme #main-project .link a {
        -webkit-border-radius: 40px;
        -moz-border-radius: 40px;
        -ms-border-radius: 40px;
        -o-border-radius: 40px;
        border-radius: 40px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        position: relative;
        display: inline-block;
        left: 50%;
        width: 208px;
        height: 208px;
        border: 3px solid #000; }
      #aboutme #main-project .link .check {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 0;
        border: 30px solid #ed6d46;
        width: 200px;
        height: 100px;
        border-top: none;
        border-right: none;
        transform-origin: top left; }
      #aboutme #main-project .link span {
        position: relative;
        display: block;
        font-size: 30px;
        font-weight: 700;
        text-align: center; }
        #aboutme #main-project .link span::before {
          -webkit-transition: all 0.4s;
          -moz-transition: all 0.4s;
          -o-transition: all 0.4s;
          transition: all 0.4s;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 0;
          height: 30px;
          background: rgba(255, 165, 0, 0.3); }
      #aboutme #main-project .link:hover a {
        border-color: #ed6d46; }
      #aboutme #main-project .link:hover span::before {
        width: 100%; }
      #aboutme #main-project .link.click a {
        border-color: #ed6d46; }
        #aboutme #main-project .link.click a .check {
          -webkit-animation: checking 0.8s ease-out both;
          -moz-animation: checking 0.8s ease-out both;
          animation: checking 0.8s ease-out both; }
      #aboutme #main-project .link.click span::before {
        width: 100%; }
    #aboutme #main-project .link-main {
      float: left; }
      #aboutme #main-project .link-main svg {
        left: 0; }
    #aboutme #main-project .link-project {
      float: right; }
      #aboutme #main-project .link-project svg {
        right: -30px; }

@keyframes checking {
  0% {
    opacity: 0;
    width: 0;
    height: 0; }
  50% {
    opacity: 1;
    width: 0;
    height: 100px; }
  100% {
    opacity: 1;
    width: 200px; } }
/* project */
#project-list {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  position: relative;
  top: 100px; }
  #project-list.load {
    opacity: 1;
    top: 0; }
  #project-list h1 {
    margin-top: 140px;
    font-size: 90px;
    font-weight: 400;
    text-align: center; }
  #project-list ul {
    width: 1400px;
    margin: 80px auto; }
    #project-list ul li {
      float: left;
      width: 445px; }
      #project-list ul li + li {
        margin-left: 32px; }
      #project-list ul li div {
        -webkit-background-size: cover !important;
        background-size: cover !important;
        position: relative;
        width: 445px;
        height: 300px;
        background: no-repeat center; }
        #project-list ul li div::after {
          -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
          -webkit-background-size: 70% !important;
          background-size: 70% !important;
          -webkit-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
          -moz-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
          -ms-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
          -o-border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
          border-radius: 42% 58% 70% 30%/45% 45% 55% 55%;
          -webkit-animation: morph 3s ease-in-out infinite;
          -moz-animation: morph 3s ease-in-out infinite;
          animation: morph 3s ease-in-out infinite;
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          transition: all 1s ease-in-out;
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 120px;
          height: 120px;
          background: #fff no-repeat center; }
      #project-list ul li.project-cgv div {
        background-image: url("../images/project/thumb-cgv1.png"); }
        #project-list ul li.project-cgv div::after {
          background-image: url("../images/project/logo-cgv.png"); }
      #project-list ul li.project-tabtap div {
        background-image: url("../images/project/thumb-tab1.png"); }
        #project-list ul li.project-tabtap div::after {
          background-image: url("../images/project/logo-tab.svg"); }
      #project-list ul li.project-gs div {
        background-image: url("../images/project/thumb-gs1.png"); }
        #project-list ul li.project-gs div::after {
          background-image: url("../images/project/logo-gs.png"); }
      #project-list ul li strong {
        display: block;
        margin: 80px 0 10px;
        font-family: LuxM;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 1.5;
        text-align: center; }
      #project-list ul li p {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        padding: 16px;
        font-size: 24px;
        color: #000; }
      #project-list ul li a {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        display: block;
        position: relative;
        width: 208px;
        height: 50px;
        margin: 30px auto 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        border: 1px solid #3e2a26; }
        #project-list ul li a::after {
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          -o-border-radius: 4px;
          border-radius: 4px;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 50px;
          background: #fff;
          z-index: -10; }
        #project-list ul li a:hover::after, #project-list ul li a:focus::after {
          width: 100%; }

/* project-detail */
#cgv-info .summary-info {
  background: #b34744; }
  #cgv-info .summary-info li {
    position: relative; }
  #cgv-info .summary-info .tooltip {
    top: 0;
    right: -30px; }
    #cgv-info .summary-info .tooltip svg {
      fill: #fff; }
    #cgv-info .summary-info .tooltip p {
      color: #fff; }
    #cgv-info .summary-info .tooltip p::before {
      border-bottom-color: #fff; }
    #cgv-info .summary-info .tooltip p::after {
      content: "밑줄 친 페이지는 제가 제작한 페이지로,\A누르면 새창으로 열립니다.";
      width: 310px;
      color: #b34744;
      background-color: #fff; }
  #cgv-info .summary-info > a {
    color: #b34744; }
  #cgv-info .summary-info .pic-area {
    background-image: url("../images/project/main-cgv1.png"); }
#cgv-info .core-info .device-pc {
  background-image: url("../images/project/pc-cgv1.png"); }
#cgv-info .core-info .tooltip {
  top: 0;
  left: 64%;
  margin-top: -50px; }
  #cgv-info .core-info .tooltip svg {
    fill: #3e2a26; }
  #cgv-info .core-info .tooltip p {
    color: #3e2a26; }
  #cgv-info .core-info .tooltip p::before {
    border-bottom-color: #b34744; }
  #cgv-info .core-info .tooltip p::after {
    content: "사진이나 코드가 들어있는 박스를 클릭하면\A 더 정확히 볼 수 있습니다.";
    width: 320px;
    color: #fff;
    background-color: #b34744; }
  #cgv-info .core-info .tooltip.tip p {
    color: transparent; }
#cgv-info .core-info .point li:nth-of-type(1) .core-pic {
  background-image: url("../images/project/cgv-detail-toggle1.png"); }
#cgv-info .core-info .point li:nth-of-type(2) .core-pic {
  background-image: url("../images/project/cgv-detail-tab1.png"); }
#cgv-info .core-info .report {
  margin-top: 60px; }
  #cgv-info .core-info .report li div:focus {
    outline: 4px solid #f00; }
  #cgv-info .core-info .report .site-a11y strong {
    color: #b34744; }
  #cgv-info .core-info .report .site-a11y p:nth-of-type(1)::after {
    background: #b34744; }
  #cgv-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2) {
    background-image: url("../images/project/cgv-detail-circle1.png"); }
    #cgv-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2)::after {
      background-image: url("../images/project/cgv-detail-circle1.png");
      clip: rect(10px, 330px, 210px, 130px);
      clip-path: circle(100px at 230px 110px); }
  #cgv-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(3) {
    background-image: url("../images/project/cgv-detail-under1.png"); }
    #cgv-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(3)::after {
      background-image: url("../images/project/cgv-detail-under1.png");
      clip: rect(180px, 300px, 380px, 100px);
      clip-path: circle(100px at 200px 280px); }
  #cgv-info .core-info .report li:nth-of-type(2) .site-pic {
    background-image: url("../images/project/cgv-detail-a1.png"); }
    #cgv-info .core-info .report li:nth-of-type(2) .site-pic::after {
      background-image: url("../images/project/cgv-detail-a1.png");
      clip: rect(270px, 240px, 470px, 40px);
      clip-path: circle(100px at 140px 370px); }
  #cgv-info .core-info .report .site-pic {
    border-color: #b34744; }
  #cgv-info .core-info .report .site-code .gist-file {
    border-color: #b34744; }

/* tab-detail */
#tab-info .summary-info {
  background: #735587; }
  #tab-info .summary-info h2 {
    padding-top: 30px; }
    #tab-info .summary-info h2 span {
      font-size: 80px; }
  #tab-info .summary-info li {
    position: relative; }
  #tab-info .summary-info .tooltip {
    top: 0;
    right: -30px; }
    #tab-info .summary-info .tooltip svg {
      fill: #fff; }
    #tab-info .summary-info .tooltip p {
      color: #fff; }
    #tab-info .summary-info .tooltip p::before {
      border-bottom-color: #fff; }
    #tab-info .summary-info .tooltip p::after {
      content: "밑줄 친 페이지는 제가 제작한 페이지로,\A누르면 새창으로 열립니다.";
      width: 310px;
      color: #735587;
      background-color: #fff; }
  #tab-info .summary-info > a {
    color: #735587; }
  #tab-info .summary-info .pic-area {
    background-image: url("../images/project/main-tab1.png"); }
#tab-info .core-info .device-pc {
  background-image: url("../images/project/mobile-tab1.png"); }
#tab-info .core-info .tooltip {
  top: 0;
  left: 64%;
  margin-top: -50px; }
  #tab-info .core-info .tooltip svg {
    fill: #3e2a26; }
  #tab-info .core-info .tooltip p {
    color: #3e2a26; }
  #tab-info .core-info .tooltip p::before {
    border-bottom-color: #735587; }
  #tab-info .core-info .tooltip p::after {
    content: "사진이나 코드가 들어있는 박스를 클릭하면\A 더 정확히 볼 수 있습니다.";
    width: 320px;
    color: #fff;
    background-color: #735587; }
  #tab-info .core-info .tooltip.tip p {
    color: transparent; }
#tab-info .core-info .point li:nth-of-type(1) .core-pic {
  background-image: url("../images/project/cgv-detail-toggle1.png"); }
#tab-info .core-info .point li:nth-of-type(2) .core-pic {
  background-image: url("../images/project/cgv-detail-tab1.png"); }
#tab-info .core-info .report {
  margin-top: 60px; }
  #tab-info .core-info .report li div:focus {
    outline: 4px solid #f00; }
  #tab-info .core-info .report .site-a11y strong {
    color: #735587; }
  #tab-info .core-info .report .site-a11y p:nth-of-type(1)::after {
    background: #735587; }
  #tab-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2) {
    background-image: url("../images/project/cgv-detail-circle1.png"); }
    #tab-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(2)::after {
      background-image: url("../images/project/cgv-detail-circle1.png");
      clip: rect(10px, 330px, 210px, 130px);
      clip-path: circle(100px at 230px 110px); }
  #tab-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(3) {
    background-image: url("../images/project/cgv-detail-under1.png"); }
    #tab-info .core-info .report li:nth-of-type(1) .site-pic:nth-of-type(3)::after {
      background-image: url("../images/project/cgv-detail-under1.png");
      clip: rect(180px, 300px, 380px, 100px);
      clip-path: circle(100px at 200px 280px); }
  #tab-info .core-info .report li:nth-of-type(2) .site-pic {
    background-image: url("../images/project/cgv-detail-a1.png"); }
    #tab-info .core-info .report li:nth-of-type(2) .site-pic::after {
      background-image: url("../images/project/cgv-detail-a1.png");
      clip: rect(270px, 240px, 470px, 40px);
      clip-path: circle(100px at 140px 370px); }
  #tab-info .core-info .report .site-pic {
    border-color: #735587; }
  #tab-info .core-info .report .site-code .gist-file {
    border-color: #735587; }

/*# sourceMappingURL=style.css.map */
