@import "_mixin", "_var", "_function";

#main-cnt {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .talk {
    @include borderbox;
    @include t-form(translate(-50%, -50%));
    @include b-radius(42% 58% 70% 30% / 45% 45% 55% 55%);
    @include ani(morph 5s ease-in-out infinite);
    @include t-sition(all 1s ease-in-out);
    position: relative;
    top: 50%;
    left: 50%;
    width: vw-calc1920(820);
    height: vw-calc1920(760);
    padding: vw-calc1920(160) vw-calc1920(120);
    border: 1px solid $b-brown;
    z-index: 10;

    p:first-of-type {
      font-size: 80px;
      line-height: 2;
      text-align: left;
    }

    p:nth-of-type(2) {
      font-size: 40px;
      line-height: 1.5;
      text-align: right;

      span {
        color: #447844;
      }
    }

    img {
      position: absolute;
      left: 0;
      top: 0;
      z-index: -10;
    }
  }

  .link {
    @include bg-size(contain);
    @include borderbox;
    @include t-sition(all 1s);
    position: absolute;
    width: vw-calc1920(950);
    height: vw-calc1920(1000);
    padding: vw-calc1920(100);
    text-align: center;
    background: no-repeat;

    &.bigger {
      @include t-form(scale(5));
      z-index: 100;

      a {
        opacity: 0;
      }
    }

    a {
      @include t-sition(opacity 0.3s);
      position: absolute;
      display: inline-block;
      font-size: 50px;
    }
  }

  .link-intro {
    @include b-radius(42% 58% 70% 30% / 45% 45% 55% 55%);
    top: -30%;
    left: -10%;
    background-color: $b-pink;

    a {
      left: 40%;
      top: 55%;
    }
  }

  .link-project {
    @include b-radius(42% 58% 70% 30% / 45% 45% 55% 55%);
    right: -10%;
    bottom: -30%;
    background-color: $l-pink;

    a {
      left: 35%;
      top: 35%;
    }
  }

  .mysite {
    position: absolute;
    top: 5%;
    right: 5%;
    z-index: 1000;

    li {
      float: left;
      margin: 0 20px;

      a {
        display: inline-block;
        text-align: center;

        img {
          width: 34px;
        }

        span {
          display: block;
          margin-top: 10px;
          font-family: LuxM;
          font-size: 18px;
          font-weight: 600;
        }
      }
    }
  }

}

@keyframes morph {
  0% {
    @include b-radius(42% 58% 70% 30% / 45% 45% 55% 55%);
  }

  50% {
    @include b-radius(60% 40% 30% 70% / 60% 30% 70% 40%);
  }

  100% {
    @include b-radius(42% 58% 70% 30% / 45% 45% 55% 55%);
  }
}

/* 자기소개 페이지 */
#aboutme {
  @include t-sition(all .5s);
  @include bg-size(100%);
  opacity: 0;
  position: relative;
  top: 100px;
  width: 100%;
  padding-bottom: 400px;
  background: $b-pink url("../images/main/bg-pink.svg") no-repeat bottom center;

  &.load {
    opacity: 1;
    top: 0;
  }

  .hide {
    @include t-sition(all .5s);
    opacity: 0;
    top: 100px;

    &.fadein {
      opacity: 1;
      top: 0;
    }
  }

  .bottom-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  h2 {
    padding-top: 100px;
    margin-left: 120px;
    font-size: 50px;
  }

  .my_feature {
    position: relative;
    width: 100%;
    margin-top: 150px;
    font-size: 34px;
    line-height: 1.8;

    p {
      @include t-form(translateY(-50%));
      position: absolute;
      top: 50%;
    }

    .me {
      @include b-radius(42% 58% 70% 30% / 45% 45% 55% 55%);
      @include bg-size(contain);
      position: relative;
      width: 600px;
      height: 600px;
      background: $l-pink no-repeat center;

      &::after {
        @include bg-size(contain);
        @include t-form(translate(-50%, -50%));
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
      }
    }
  }

  .think {
    margin-top: 60px;

    >* {
      float: right;
    }

    p {
      left: 5%;
    }

    .me {
      right: 5%;
    }

    .me::after {
      background: url("../images/main/magic.png") no-repeat center;
    }
  }

  .happy {
    >* {
      float: left;
    }

    p {
      right: 5%;
    }

    .me {
      left: 5%;
    }

    .me::after {
      background: url("../images/main/making.png") no-repeat center;
    }
  }

  .ability {
    height: 650px;

    &.fadein {
      .show {
        opacity: 0;
      }

      .appear {
        opacity: 1 !important;
      }

      .me {
        bottom: 150px;
        left: 670px;
        width: 750px;
        height: 750px;
      }
    }

    >* {
      float: left;
    }

    >div:first-child {
      position: relative;
      top: 50%;

      .show-magic {
        position: relative;
        display: inline-block;
        color: $orange;
        background: #fff;
        border: 3px solid $orange;

        .show {
          @include t-sition (opacity 0.5s 1.5s);
        }

        .appear {
          @include t-sition (opacity 0.5s 2s);
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0;
        }
      }
    }

    .me {
      @include b-radius(0);
      @include t-sition(all 1.5s cubic-bezier(0.41, 0.01, 1, 1));
      position: absolute;
      bottom: 0;
      left: 0;
      background: url("../images/main/flying.png") no-repeat center;
    }
  }

  .ability_list {
    margin: 0 auto;

    li {
      position: relative;
      float: left;
      width: 328px;
      height: 328px;

      +li {
        margin-left: 152px;
      }

      &::after {
        @include t-form(translateY(-50%));
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 328px;
        height: 328px;
        background: url("../images/main/c-orange.svg") no-repeat center / cover;
        z-index: 100;
      }

      &::before {
        @include t-form(translateY(-50%));
        content: "";
        position: absolute;
        top: 50%;
        left: 120px;
        width: 328px;
        height: 328px;
        background: url("../images/main/c-black.svg") no-repeat center / cover;
        z-index: 10;
      }

      .ability_txt {
        @include t-form(translateY(-50%));
        position: absolute;
        top: 50%;
        left: 120px;
        width: 100%;
        font-size: 24px;
        line-height: 1.5;
        color: #fff;
        z-index: 1000;

        strong {
          display: block;
          margin-bottom: 20px;
          font-family: LuxM;
          font-size: 40px;
          color: #333;
        }
      }
    }
  }

  #main-project {
    @include borderbox;
    @include bg-size(cover);
    position: relative;
    width: 840px;
    height: 610px;
    margin: 300px auto 0;
    background: url("../images/main/website.png") no-repeat center;

    &::after {
      @include t-form(translateX(-50%));
      @include bg-size(cover);
      content: "";
      position: absolute;
      bottom: -340px;
      left: 50%;
      width: 600px;
      height: 578px;
      background: transparent url("../images/main/thinking.png") no-repeat center;
    }

    &.left {
      &::after {
        @include t-form(scaleX(-1));
        transform-origin: 25% 50%;
      }
    }

    p {
      @include t-form(translateX(-50%));
      position: relative;
      top: -100px;
      left: 50%;
      width: 100%;
      font-size: 40px;
      text-align: center;
    }

    .link {
      margin: 40px 60px;

      a {
        @include b-radius(40px);
        @include t-form(translateX(-50%));
        @include t-sition(all .3s);
        position: relative;
        display: inline-block;
        left: 50%;
        width: 208px;
        height: 208px;
        border: 3px solid #000;
      }

      .check {
        @include t-form(rotate(-45deg));
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 0;
        border: 30px solid $orange;
        width: 200px;
        height: 100px;
        border-top: none;
        border-right: none;
        transform-origin: top left;
      }

      span {
        position: relative;
        display: block;
        font-size: 30px;
        font-weight: 700;
        text-align: center;

        &::before {
          @include t-sition(all .4s);
          @include t-form(translateY(-50%));
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          width: 0;
          height: 30px;
          background: rgba(255, 165, 0, .3);
        }
      }

      &:hover {
        a {
          border-color: $orange;
        }

        span {
          &::before {
            width: 100%;
          }
        }
      }

      &.click {
        a {
          border-color: $orange;

          .check {
            @include ani(checking 0.8s ease-out both);
          }
        }

        span {
          &::before {
            width: 100%;
          }
        }
      }
    }

    .link-main {
      float: left;

      svg {
        left: 0;
      }
    }

    .link-project {
      float: right;

      svg {
        right: -30px;
      }
    }
  }
}

@keyframes checking {
  0% {
    opacity: 0;
    width: 0;
    height: 0;
  }

  50% {
    opacity: 1;
    width: 0;
    height: 100px;
  }

  100% {
    opacity: 1;
    width: 200px;
  }
}

/* project */
#project-list {
  @include t-sition(all .5s);
  opacity: 0;
  position: relative;
  top: 100px;
  text-align: center;

  &.load {
    opacity: 1;
    top: 0;
  }

  h1 {
    padding-top: 140px;
    font-size: 90px;
    font-weight: 400;
    text-align: center;
  }

  ul {
    display: inline-block;
    max-width: 1400px;
    width: auto;
    margin: 80px auto;

    li {
      float: left;
      width: 445px;

      +li {
        margin-left: 32px;
      }

      div {
        @include bg-size(cover);
        @include b-radius(4px);
        position: relative;
        width: 445px;
        height: 300px;
        background: no-repeat center;

        &::after {
          @include t-form(translate(-50%, 50%));
          @include bg-size(70%);
          @include b-radius(42% 58% 70% 30% / 45% 45% 55% 55%);
          @include ani(morph 3s ease-in-out infinite);
          @include t-sition(all 1s ease-in-out);
          content: "";
          position: absolute;
          left: 50%;
          bottom: 0;
          width: 120px;
          height: 120px;
          background: #fff no-repeat center;
        }
      }

      &.project-cgv {
        div {
          background-image: url("../images/project/thumb-cgv1.png");

          &::after {
            background-image: url("../images/project/logo-cgv.png");
          }
        }
      }

      &.project-tabtap {
        div {
          background-image: url("../images/project/thumb-tab1.png");

          &::after {
            background-image: url("../images/project/logo-tab.svg");
          }
        }
      }

      &.project-gs {
        div {
          background-image: url("../images/project/thumb-gs1.png");

          &::after {
            background-image: url("../images/project/logo-gs.png");
          }
        }
      }

      strong {
        display: block;
        margin: 80px 0 10px;
        font-family: LuxM;
        font-size: 30px;
        font-weight: 400;
        letter-spacing: 1.5;
        text-align: center;
      }

      p {
        @include borderbox;
        width: 100%;
        height: 200px;
        padding: 16px;
        font-size: 24px;
        word-break: keep-all;
        color: #000;
      }

      a {
        @include b-radius(4px);
        display: block;
        position: relative;
        width: 208px;
        height: 50px;
        margin: 30px auto 0;
        font-size: 18px;
        font-weight: 700;
        line-height: 50px;
        text-align: center;
        border: 1px solid $b-brown;
        z-index: 10;

        &::after {
          @include b-radius(4px);
          @include t-sition(all 0.3s ease-in-out);
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 0;
          height: 50px;
          background: #fff;
          z-index: -10;
        }

        &:hover,
        &:focus {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}

/* cgv-detail */
#cgv-info {
  .summary-info {
    background: $colcgv;

    .tooltip {
      p::after {
        color: $colcgv;
      }
    }

    >a {
      color: $colcgv;
    }

    .pic-area {
      background-image: url("../images/project/main-cgv1.png");
    }
  }

  .core-info {
    .device-pc {
      background-image: url("../images/project/pc-cgv1.png");
    }
    
    .tooltip {
      p::before {
        border-bottom-color: $colcgv;
      }

      p::after {
        background-color: $colcgv;
      }
    }

    .point {
      li:nth-of-type(1) .core-pic {
        background-image: url("../images/project/cgv-detail-toggle1.png");
      }

      li:nth-of-type(2) .core-pic {
        background-image: url("../images/project/cgv-detail-tab1.png");
      }

      .core-pic {
        border-color: $colcgv;
      }
    }

    .report {
      li {
        div:focus {
          outline: 4px solid #f00;
        }
      }

      .site-a11y {
        strong {
          color: $colcgv;
        }

        p:nth-of-type(1) {
          &::after {
            background: $colcgv;
          }
        }
      }

      li:nth-of-type(1) {
        .site-pic:nth-of-type(2) {
          background-image: url("../images/project/cgv-detail-circle1.png");

          &::after {
            background-image: url("../images/project/cgv-detail-circle1.png");
            clip: rect(10px, 330px, 210px, 130px);
            clip-path: circle(100px at 230px 110px);
          }
        }

        .site-pic:nth-of-type(3) {
          background-image: url("../images/project/cgv-detail-under1.png");

          &::after {
            background-image: url("../images/project/cgv-detail-under1.png");
            clip: rect(180px, 300px, 380px, 100px);
            clip-path: circle(100px at 200px 280px);
          }
        }
      }

      li:nth-of-type(2) {
        .site-pic {
          background-image: url("../images/project/cgv-detail-a1.png");

          &::after {
            background-image: url("../images/project/cgv-detail-a1.png");
            clip: rect(270px, 240px, 470px, 40px);
            clip-path: circle(100px at 140px 370px);
          }
        }
      }

      .site-pic {
        border-color: $colcgv;
      }

      .site-code {
        .gist-file {
          border-color: $colcgv;
        }
      }
    }
  }
}

/* tab-detail */
#tab-info {
  .summary-info {
    background: $coltab;

    h2 {
      padding-top: 30px;

      span {
        font-size: 80px;
      }
    }

    .tooltip {
      p::after {
        color: $coltab;
      }
    }

    >a {
      color: $coltab;
    }

    .pic-area {
      background-image: url("../images/project/main-tab1.png");
    }
  }

  .core-info {
    .device-pc {
      background-image: url("../images/project/mobile-tab1.png");
    }

    .tooltip {
      p::before {
        border-bottom-color: $coltab;
      }

      p::after {
        background-color: $coltab;
      }
    }

    .point {
      li:nth-of-type(1) .core-pic {
        background-image: url("../images/project/tab-detail-tab1.png");
      }

      li:nth-of-type(2) .core-pic {
        background-image: url("../images/project/tab-detail-scroll1.png");
      }

      .core-pic {
        border-color: $coltab;
      }
    }

    .report {
      li {
        div:focus {
          outline: 4px solid #800080;
        }
      }

      .site-a11y {
        strong {
          color: $coltab;
        }

        p:nth-of-type(1) {
          &::after {
            background: $coltab;
          }
        }
      }

      li:nth-of-type(1) {
        .site-pic:nth-of-type(2) {
          background-image: url("../images/project/tab-detail-color1.png");

          &::after {
            background-image: url("../images/project/tab-detail-color1.png");
            clip: rect(224px, 445px, 424px, 245px);
            clip-path: circle(100px at 345px 324px);
          }
        }
      }

      li:nth-of-type(2) {
        .site-pic {
          background-image: url("../images/project/tab-detail-button1.png");

          &::after {
            background-image: url("../images/project/tab-detail-button1.png");
            clip: rect(231px, 149px, 431px, -50px);
            clip-path: circle(100px at 0px 331px);
          }
        }
      }

      .site-pic {
        border-color: $coltab;
      }

      .site-code {
        .gist-file {
          border-color: $coltab;
        }
      }
    }
  }
}

/* gs-detail */
#gs-info {
  .summary-info {
    background: $colgs;

    .tooltip {
      p::after {
        color: $colgs;
      }
    }

    >a {
      color: $colgs;
    }

    .pic-area {
      background-image: url("../images/project/main-gs1.png");
    }
  }

  .core-info {
    .device-pc {
      background-image: url("../images/project/all-gs1.png");
    }

    .tooltip {
      p::before {
        border-bottom-color: $colgs;
      }

      p::after {
        background-color: $colgs;
      }
    }

    .point {
      li:nth-of-type(1) .core-pic {
        background-image: url("../images/project/gs-detail-video1.png");
      }

      li:nth-of-type(2) .core-pic {
        background-image: url("../images/project/gs-detail-scroll1.png");
      }

      .core-pic {
        border-color: $colgs;
      }
    }

    .report {
      li {
        div:focus {
          outline: 4px solid #008000;
        }
      }

      .site-a11y {
        strong {
          color: $colgs;
        }

        p:nth-of-type(1) {
          &::after {
            background: $colgs;
          }
        }
      }

      li:nth-of-type(1) {
        .site-pic:nth-of-type(2) {
          background-image: url("../images/project/gs-detail-lang1.png");

          &::after {
            background-image: url("../images/project/gs-detail-lang1.png");
            clip: rect(0px, 448px, 200px, 248px);
            clip-path: circle(100px at 348px 100px);
          }
        }
      }

      li:nth-of-type(2) {
        .site-pic {
          background-image: url("../images/project/gs-detail-family1.png");

          &::after {
            background-image: url("../images/project/gs-detail-family1.png");
            clip: rect(425px, 350px, 625px, 150px);
            clip-path: circle(100px at 250px 525px);
          }
        }
      }

      .site-pic {
        border-color: $colgs;
      }

      .site-code {
        .gist-file {
          border-color: $colgs;
        }
      }
    }
  }

}

/* PC: 144Opx~1280px */
@media screen and (max-width: 1440px) {
  #main-cnt {

    .talk {
      width: vw-calc1440(820);
      height: vw-calc1440(760);
      padding: vw-calc1440(160) vw-calc1440(120);

      p:first-of-type {
        font-size: 68px;
      }

      p:nth-of-type(2) {
        font-size: 34px;
      }
    }

    .link {

      a {
        font-size: 42px;
      }
    }
  }

  #aboutme {
    @include bg-size(150%, 100%);

    .max1400 {
      max-width: none;
      width: 100%;
    }

    h2 {
      font-size: 40px;
    }

    .my_feature {
      font-size: 30px;

      .me {
        width: vw-calc1440(600);
        height: vw-calc1440(600);
      }
    }

    .ability {
      height: 650px;

      &.fadein {
        .me {
          left: vw-calc1440(600);
          bottom: vw-calc1440(150);
          width: 700px;
          height: 700px;
        }
      }

      >div:first-child {
        left: 8%;
      }
    }

    .ability_list {

      li {
        width: vw-calc1440(328);
        height: vw-calc1440(328);
        margin-left: vw-calc1440(15);

        +li {
          margin-left: vw-calc1440(152);
        }

        &::after {
          width: vw-calc1440(328);
          height: vw-calc1440(328);
        }

        &::before {
          left: vw-calc1440(120);
          width: vw-calc1440(328);
          height: vw-calc1440(328);
        }

        .ability_txt {
          left: vw-calc1440(110);
          width: 90%;
          font-size: 20px;

          strong {
            margin-bottom: 0;
            font-size: 30px;
          }
        }
      }
    }

    #main-project {
      width: vw-calc1440(840);
      height: vw-calc1440(610);
      margin: vw-calc1440(300) auto 0;

      &::after {
        bottom: vw-calc1440(-340);
        width: vw-calc1440(600);
        height: vw-calc1440(578);
      }

      p {
        top: vw-calc1440(-100);
        font-size: 38px;
      }

      .link {
        margin: vw-calc1440(40) vw-calc1440(60);

        a {
          width: vw-calc1440(208);
          height: vw-calc1440(208);
        }

        .check {
          border: vw-calc1440(30) solid $orange;
          width: vw-calc1440(200);
          height: vw-calc1440(100);
          border-top: none;
          border-right: none;
        }

        span {
          font-size: 26px;

          &::before {
            height: 26px;
          }
        }
      }

      .link-project {
        svg {
          right: -vw-calc1440(30);
        }
      }
    }

    @keyframes checking {
      0% {
        opacity: 0;
        width: 0;
        height: 0;
      }

      50% {
        opacity: 1;
        width: 0;
        height: vw-calc1440(100);
      }

      100% {
        opacity: 1;
        width: vw-calc1440(200);
      }
    }
  }

  #project-list {
    h1 {
      padding-top: 100px;
      font-size: 60px;
    }

    ul {
      max-width: none;
      width: auto;
      margin: 60px auto 120px;

      li {
        width: vw-calc1920(445);

        +li {
          margin-left: 32px;
        }

        div {
          width: vw-calc1920(445);
          height: vw-calc1920(300);

          &::after {
            width: vw-calc1920(120);
            height: vw-calc1920(120);
          }
        }

        strong {
          margin: 60px 0 0;
          font-size: 26px;
        }

        p {
          font-size: 22px;
        }

      }
    }
  }

  #tab-info {
    .summary-info {

      h2 {
        padding-top: 0;

        span {
          font-size: 70px;
        }
      }
    }
  }
}

/* PC: 1280px~1024px */
@media screen and (max-width: 1280px) {
  #aboutme {
    h2 {
      font-size: 40px;
    }

    .my_feature {
      font-size: 26px;
    }

    .ability {
      height: 550px;

      &.fadein {
        .me {
          width: 580px;
          height: 580px;
        }
      }
    }

    .ability_list {

      li {
        width: vw-calc1440(328);
        height: vw-calc1440(328);

        +li {
          margin-left: vw-calc1440(152);
        }

        &::after {
          width: vw-calc1440(328);
          height: vw-calc1440(328);
        }

        &::before {
          left: vw-calc1440(120);
          width: vw-calc1440(328);
          height: vw-calc1440(328);
        }

        .ability_txt {
          left: vw-calc1440(120);
          width: 100%;
          font-size: 18px;

          strong {
            font-size: 26px;
          }
        }
      }
    }

    #main-project {
      p {
        margin-bottom: 20px;
        font-size: 34px;
      }
    }
  }

  #project-list {

    h1 {
      padding-top: 80px;
      font-size: 50px;
    }

    ul {
      margin: 50px auto 110px;

      li {
        strong {
          margin: 60px 0 0;
          font-size: 26px;
        }

        p {
          height: 160px;
          font-size: 18px;
        }
      }
    }
  }

  #tab-info {
    .summary-info {

      h2 {

        span {
          font-size: 52px;
        }
      }
    }
  }
}

/* Tablet: 1024px~768px */
@media screen and (max-width: 1024px) {
  #main-cnt {

    .talk {
      width: vw-calc1024(820);
      height: vw-calc1024(760);
      padding: vw-calc1024(160) vw-calc1024(120);
    }

    .link {
      width: vw-calc1024(950);
      height: vw-calc1024(1000);
      padding: vw-calc1024(100);
    }

    .link-intro {
      top: -30%;
      left: -20%;
    }

    .link-project {
      right: -20%;
      bottom: -30%;
    }

    .mysite {
      top: 3%;
    }
  }

  #aboutme {
    @include bg-size(350%, 100%);

    h2 {
      padding-top: 180px;
      margin-left: 0;
      font-size: 60px;
      text-align: center;
    }

    .my_feature {
      height: vw-calc1024(1200);
      margin-top: 140px;
      font-size: 36px;

      p {
        @include t-form(translateX(-50%));
        top: vw-calc1024(780);
        width: 100%;
        text-align: center;
      }

      .me {
        @include t-form(translateX(-50%));
        width: vw-calc1024(650);
        height: vw-calc1024(650);
        margin: 0;
      }
    }

    .think {

      >* {
        float: none;
      }

      p {
        left: 50%;
      }

      .me {
        left: 50%;
      }
    }

    .happy {

      >* {
        float: none;
      }

      p {
        left: 50%;
        right: auto;
      }

      .me {
        left: 50%;
      }
    }

    .ability {
      height: vw-calc1024(900);
      padding-top: 0;

      &.fadein {
        .me {
          left: 65%;
          bottom: 30%;
          width: vw-calc1024(600);
          height: vw-calc1024(600);
        }
      }

      >div:first-child {
        left: 8%;
        top: 80%;
      }
    }

    .ability_list {

      li {
        float: none;
        width: 648px;
        height: 428px;
        margin: 0 auto;

        +li {
          margin-left: 0;
          margin: 100px auto 0;
        }

        &::after {
          width: 428px;
          height: 428px;
        }

        &::before {
          left: 220px;
          width: 428px;
          height: 428px;
        }

        .ability_txt {
          left: vw-calc1024(160);
          width: 400px;
          font-size: 30px;

          strong {
            font-size: 42px;
          }
        }
      }
    }

    #main-project {
      width: vw-calc1024(840);
      height: vw-calc1024(610);
      margin: 300px auto 0;

      &::after {
        bottom: vw-calc1024(-340);
        width: vw-calc1024(600);
        height: vw-calc1024(578);
      }

      p {
        top: vw-calc1024(-140);
        font-size: 38px;
      }

      .link {
        margin: vw-calc1024(40) vw-calc1024(60);

        a {
          width: vw-calc1024(208);
          height: vw-calc1024(208);
        }

        .check {
          border: vw-calc1024(30) solid $orange;
          width: vw-calc1024(200);
          height: vw-calc1024(100);
          border-top: none;
          border-right: none;
        }
      }

      .link-project {
        svg {
          right: -vw-calc1440(30);
        }
      }
    }

    @keyframes checking {
      0% {
        opacity: 0;
        width: 0;
        height: 0;
      }

      50% {
        opacity: 1;
        width: 0;
        height: vw-calc1024(100);
      }

      100% {
        opacity: 1;
        width: vw-calc1024(200);
      }
    }
  }

  #project-list {
    h1 {
      padding-top: 100px;
      font-size: 60px;
    }

    ul {
      width: 90%;
      margin: 60px auto 120px;

      li {
        float: none;
        position: relative;
        width: 100%;
        margin: 0 auto;

        +li {
          margin-left: auto;
          margin-top: 100px;
        }

        >* {
          position: absolute;
        }

        div {
          left: 0;
          top: 50%;
          width: vw-calc1024(450);
          height: vw-calc1024(300);

          &::after {
            width: vw-calc1024(120);
            height: vw-calc1024(120);
          }
        }

        strong {
          @include t-form(translateX(50%));
          right: 25%;
          top: 8%;
          margin: 0;
          font-size: 30px;
        }

        p {
          @include t-form(translate(50%, -50%));
          right: 25%;
          top: 50%;
          width: 40%;
          height: auto;
          padding: 0;
          font-size: 18px;
        }

        a {
          @include t-form(translateX(50%));
          right: 25%;
          bottom: 0;
          position: absolute;
          width: 208px;
          height: 50px;
          margin: 0;
        }
      }
    }
  }

  #tab-info {
    .summary-info {

      h2 {

        span {
          font-size: 60px;
        }
      }
    }
  }
}

/* Tablet: 768px~600px */
@media screen and (max-width: 768px) {
  #main-cnt {

    .talk {
      p:first-of-type {
        font-size: 46px;
      }

      p:nth-of-type(2) {
        font-size: 30px;
      }
    }

    .link-intro {
      top: -15%;
      left: -20%;

      a {
        left: 35%;
        top: 40%;
      }
    }

    .link-project {
      right: -15%;
      bottom: -20%;

      a {
        top: 45%;
      }
    }
  }

  #aboutme {
    @include bg-size(350%, 100%);

    h2 {
      padding: 140px 0 0;
    }

    .my_feature {
      height: vw-calc768(1100);
      margin-top: 100px;
      font-size: 30px;

      p {
        top: vw-calc768(740);
      }

      .me {
        width: vw-calc768(650);
        height: vw-calc768(650);
      }
    }

    .ability {
      height: vw-calc768(600);
    }

    .ability_list {

      li {
        width: vw-calc768(648);
        height: vw-calc768(428);

        +li {
          margin: 100px auto 0;
        }

        &::after {
          width: vw-calc768(428);
          height: vw-calc768(428);
        }

        &::before {
          left: vw-calc768(220);
          width: vw-calc768(428);
          height: vw-calc768(428);
        }

        .ability_txt {
          left: vw-calc768(180);
          width: 360px;
          font-size: 26px;
        }
      }
    }

    #main-project {
      .link {
        margin: 0 vw-calc1440(40);

        span {
          font-size: 22px;

          &::before {
            height: 22px;
          }
        }
      }
    }
  }

  #project-list {
    h1 {
      padding-top: 80px;
      font-size: 50px;
    }

    ul {
      li {
        strong {
          font-size: 26px;
        }

        p {
          width: 50%;
          line-height: 1.4;
        }

        a {
          width: 120px;
          height: 40px;
          line-height: 40px;
        }
      }
    }
  }

  #tab-info {
    .summary-info {

      h2 {

        span {
          font-size: 52px;
        }
      }
    }
  }
}

/* Mobile: 600px~425px */
@media screen and (max-width: 600px) {
  #main-cnt {

    .talk {

      p:first-of-type {
        font-size: 30px;
        font-weight: 600;
      }

      p:nth-of-type(2) {
        font-size: 20px;
      }
    }

    .link {
      a {
        font-size: 26px;
        font-weight: 600;
      }
    }

    .link-intro {
      a {
        top: 45%;
      }
    }

    .link-project {
      a {
        top: 35%;
      }
    }

    .mysite {
      top: 4%;
      right: 4%;

      li {
        margin: 0 14px;

        a {

          span {
            margin-top: 8px;
            font-size: 14px;
          }
        }
      }
    }
  }

  #aboutme {
    @include bg-size(400%, 100%);
    padding-bottom: 200px;

    h2 {
      padding: 100px 0 0;
      font-size: 30px;
    }

    .my_feature {
      font-size: 22px;
    }

    .ability_list {
      margin-top: 40px;

      li {
        .ability_txt {
          left: vw-calc600(100);
          width: 300px;
          font-size: 22px;

          strong {
            margin-bottom: 4px;
            font-size: 30px;
          }
        }
      }
    }

    #main-project {
      margin: 180px auto 0;

      &::after {
        width: vw-calc600(300);
        height: vw-calc600(289);
      }

      p {
        top: vw-calc600(-120);
        font-size: 26px;
      }

      .link {
        margin: vw-calc600(-10) vw-calc1440(40) 0;

        a {
          @include b-radius(20px);
        }

        span {
          top: -10px;
          font-size: 18px;
        }
      }

      .link-project {
        svg {
          right: -vw-calc1440(30);
        }
      }
    }
  }

  #project-list {

    h1 {
      padding-top: 60px;
      font-size: 40px;
    }

    ul {
      margin: 50px auto 80px;

      li {
        height: vw-calc600(780);

        div {
          @include t-form(translateX(-50%));
          left: 50%;
          top: 0;
          width: vw-calc600(445);
          height: vw-calc600(300);

          &::after {
            width: vw-calc600(120);
            height: vw-calc600(120);
          }
        }

        strong {
          @include t-form(translateX(50%));
          right: 50%;
          top: vw-calc600(400);
          font-size: 40px;
        }

        p {
          @include t-form(translateX(50%));
          right: 50%;
          top: vw-calc600(500);
          width: 100%;
          font-size: 24px;
          line-height: 1.6;
        }

        a {
          @include t-form(translateX(50%));
          right: 50%;
          bottom: 0;
          width: 180px;
          height: 60px;
          line-height: 60px;
          font-size: 22px;
        }
      }
    }
  }

  #cgv-info {
    .core-info {
      .report {
        li:nth-of-type(1) {
          .site-pic:nth-of-type(2) {
            &::after {
              clip: rect(vw-calc600(10), vw-calc600(330), vw-calc600(210), vw-calc600(130));
              clip-path: circle(vw-calc600(100) at vw-calc600(230) vw-calc600(110));
            }
          }

          .site-pic:nth-of-type(3) {
            &::after {
              clip: rect(vw-calc600(180), vw-calc600(300), vw-calc600(380), vw-calc600(100));
              clip-path: circle(vw-calc600(100) at vw-calc600(200) vw-calc600(280));
            }
          }
        }

        li:nth-of-type(2) {
          .site-pic {
            &::after {
              clip: rect(vw-calc600(270), vw-calc600(240), vw-calc600(470), vw-calc600(40));
              clip-path: circle(vw-calc600(100) at vw-calc600(140) vw-calc600(370));
            }
          }
        }
      }
    }
  }

  #tab-info {
    .summary-info {

      h2 {

        span {
          font-size: 40px;
        }
      }
    }

    .core-info {
      .report {
        li:nth-of-type(1) {
          .site-pic:nth-of-type(2) {
            &::after {
              clip: rect(vw-calc600(224), vw-calc600(445), vw-calc600(424), vw-calc600(245));
              clip-path: circle(vw-calc600(100) at vw-calc600(345) vw-calc600(324));
            }
          }
        }

        li:nth-of-type(2) {
          .site-pic {
            &::after {
              clip: rect(vw-calc600(231), vw-calc600(149), vw-calc600(431), vw-calc600(-50));
              clip-path: circle(vw-calc600(100) at vw-calc600(0) vw-calc600(331));
            }
          }
        }
      }
    }
  }

  #gs-info {
    .core-info {
      .report {
        li:nth-of-type(1) {
          .site-pic:nth-of-type(2) {
            &::after {
              clip: rect(vw-calc600(0), vw-calc600(448), vw-calc600(200), vw-calc600(248));
              clip-path: circle(vw-calc600(100) at vw-calc600(348) vw-calc600(100));
            }
          }
        }

        li:nth-of-type(2) {
          .site-pic {
            &::after {
              clip: rect(vw-calc600(425), vw-calc600(350), vw-calc600(625), vw-calc600(150));
              clip-path: circle(vw-calc600(100) at vw-calc600(250) vw-calc600(525));
            }
          }
        }
      }
    }
  }
}

/* Mobile: 425px~ */
@media screen and (max-width: 425px) {
  #main-cnt {

    .talk {

      p:first-of-type {
        font-size: 22px;
      }

      p:nth-of-type(2) {
        font-size: 16px;
      }
    }

    .link {
      a {
        font-size: 20px;
      }
    }

    .mysite {
      top: 4%;
      right: 4%;

      li {
        margin: 0 10px;

        a {

          span {
            display: none;
          }
        }
      }
    }
  }

  #aboutme {
    @include bg-size(400%, 100%);

    h2 {
      padding: 80px 0 0;
      font-size: 26px;
    }

    .my_feature {
      margin-top: 80px;
      font-size: 16px;
    }

    .ability_list {

      li {

        +li {
          margin: 60px auto 0;
        }

        .ability_txt {
          left: vw-calc600(90);
          width: 210px;
          font-size: 16px;

          strong {
            margin-bottom: 2px;
            font-size: 22px;
          }
        }
      }
    }

    #main-project {
      margin: 180px auto 0;

      &::after {
        width: vw-calc600(280);
        height: vw-calc600(270);
      }

      p {
        top: vw-calc600(-120);
        font-size: 22px;
      }

      .link {
        margin: vw-calc600(-20) vw-calc1440(40) 0;

        a {
          @include b-radius(10px);
        }

        span {
          top: -10px;
          font-size: 16px;
        }
      }

      .link-project {
        svg {
          right: -vw-calc1440(30);
        }
      }
    }
  }

  #project-list {
    ul {
      margin: 30px auto 40px;

      li {
        height: vw-calc600(880);

        strong {
          font-size: 30px;
        }

        p {
          font-size: 20px;
          line-height: 1.6;
        }

        a {
          width: 160px;
          height: 50px;
          line-height: 50px;
          font-size: 18px;
        }
      }
    }
  }

  #tab-info {
    .summary-info {

      h2 {

        span {
          font-size: 40px;
        }
      }
    }
  }
}